
{% extends "oceans_11/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}This Page Intentionally Left Blank{% endblock %}

{% block extra_head %}
<link href="puzzle.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div class="blank">
<ul><li><a href="blank.class">blank.class</a></li>
<li><a href="blank.html">blank.html</a></li>
<li><a href="blank.pdf">blank.pdf</a></li>
<li><a href="blank.png">blank.png</a></li>
<li><a href="blank.ps">blank.ps</a></li>
<li><a href="blank.svg">blank.svg</a></li>
<li><a href="blank.tar">blank.tar</a></li>
<li><a href="blank.txt">blank.txt</a></li>
<li><a href="blank.wav">blank.wav</a></li>
<li><a href="blank.xls">blank.xls</a></li>
</ul></div>

{% endblock %}