
{% extends "rubik/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Underbrush{% endblock %}

{% block body %}
<html><body>
<em>Traveling gives you the chance to see the local color of every town.</em><br><br>

After being cooped up at home for
so long, I was finally ready to go exploring. Going on a cruise seemed like the
perfect plan &#8211; ride the ocean waves and visit another part of the country.
Although I needed to prepare myself for the long journey, I could not wait to
go!<br><br>
I started preparing for the journey by picking up
some of the latest technology and getting a self-defense lesson at the local
dojo. I am pretty fortunate to live in a bustling city. Since the company has
its headquarters right here, I always get some nice discounts.<br><br>
I then headed over to a nearby town to see my friends
off, passing the local daycare along the way. Some kids by the pool suggested
that I buy a nice bike to travel quickly from point to point. It was a pretty
expensive purchase, but I sure did speed everywhere. I even jumped over ledges
like a sweet BMXer. So cool!<br><br>
I stopped by the old abandoned power plant to try and
find some hidden treasure. Not much luck &#8211; it took a hard swim to reach
the plant and most of the stuff I found was fake junk. Pity I could not find
anything &#8211; my bike light was basically useless when I tried to go through
the really dark tunnel. It seems like every time I took a step, all of the bats
in the cave would freak out from my light and flap in my face. I came out of
the tunnel and saw the big memorial tower in the distance, even though it took
me a while to actually get to the town it was in. I did not want to stay long
because that place freaks me out so much, so I hurried back home. I was ready
to go on my cruise!<br><br>
I quenched my thirst with some lemonade and I noticed
that they had started construction on the new train station only a few blocks
from my house. Once I had enough to drink, I biked to the port city with ticket
in hand. However, just when I reached the docks, my mother called me. Since
this was the first overseas trip I had ever done, she insisted that I go pay my
respects to my ancestors before leaving. When I protested that I had just
visited that town, she just asked me rhetorically who had control of my bank
account. Sighing, I biked along the bridge back to the creepy old town. At
least the weather was beautiful. I could totally see myself fishing off of the
dock with some nice flute music in the background.<br><br>
It took me a while to find the right gravesite, but
after pushing through Shinto priestesses for a solid 15 minutes, I found the
right headstone, lit my incense and bolted back to the port city. What a lot of
work for a simple cruise!<br><br><hr><br>
I
soon settled down in that other region, having fun studying at the local
academy and praying with the monks. However, once another long break rolled
around, I felt another itch for exploration. I decided to spend my break by
taking the scenic route to the big city, even though a direct path had already
been cleared out.<br><br>
First, I stopped by the
old ruins that were right by my host city. I like to try and puzzle out what
those weird hieroglyphics could possibly be saying. After doing some fishing on
the small bridge, I headed into that spooky cave. Even though there were plenty
of other hikers in that cave, I seemed to be the only one who heard those
strange dinosaur-like noises echoing from deep within the cavern. Maybe there
really is something down there?<br><br>
When I emerged from the
cave, I arrived at a quaint little rural town. Even though they have a shiny
new hospital with all of the latest medical equipment, most of the town still
seems to be ignoring the progress of technology. The townsfolk still use well
water, harvest acorns and rely on charcoal to heat their homes. I then pressed
on through the surrounding woods, pushing past all of the knee-high bushes
blocking the way. <br><br>
When I finally got back
onto paved roads, I immediately saw the big city with its brand new radio
tower. Time to party! I have never seen such a bustling metropolis in all my
life. Even though there was supposedly shady business all around, I saw none of
this dark underbelly and had a blast gambling at the casino, checking out the
construction of the new train station and even got a new haircut!<br><br>
However, all good times
must come to an end. My Mom soon called me, complaining that she did not fund
my cruise just so I could spend all my money in a big flashy city. When I
pointed out that she spends my money on decorative dolls all the time, she
furiously demanded that I go right back to my studies <i>now</i>. Frustrated, I
darted through the nearby bug-infested park and went straight back to the
academy.<br><br><hr><br>I
figured that my mom was heckling me so much because she missed me, so I decided
to come back home and catch up with the folks. My mom was so surprised to see
me and even invited Doc to dinner. We had a great time catching up, rambling
about old times. <br><br>
While we were talking, my
mom told me about this new fossil exhibit over at the museum. Even though it
was a couple of towns away, she insisted that it was simply amazing and
encouraged me to go check it out. In the morning, I set out for the museum.
Man, walking out of my hometown really reminds me of the days of my youth! Even
with the help of nostalgia, I still got a little lost in the woods on my way to
the museum. I thought I saw this massive bird in one of the trees and it really
freaked me out. It did not help that this grouchy old man delayed me and kept
trying to teach me common sense stuff. Someone clearly missed his coffee this
morning.<br><br>
When I finally arrived at
the museum, it turned out the exhibit was super lame. I am still not quite sure
what space and moon rocks have to do with fossils, but ok. One of the
scientists did give me a free amber souvenir, though, which more than made up
for the steep entrance fee.<br><br><hr><br>Today
was the day of the big annual bike race! We all lined up at the top of the big
bridge and raced down to the bottom. It is a pretty crazy race - since the
bridge slopes downhill, once you get going, there is really no stopping. When I
showed up, there were a bunch of bikers already there, and I could tell they
judged me for my bike. Still, I did pretty well - I got in the top 10!<br><br>
When I got to the bottom,
I was too worn out to go back the way I came, so I figured that I would spend
the day at the wildlife preserve. It was pretty amazing- there were some
incredible animals there, the kind you only hear about in stories. No pets were
allowed on the preserve, but the warden let me fish, and the ponds there are
stocked with all varieties of fish! A lot of parents brought their kids to the
preserve, but they really need to learn how to control their children- some of
them threw food at the animals, while even worse kids threw rocks at the poor
things. I also saw a pair of gold dentures in one of the exhibits, which I am sure
one of those bratty kids threw.

</body></html>
{% endblock %}