{% extends "get_smart/_/base.html" %}

{% block body_id %}puzzbg{% endblock %}

{% block body_class %}bg{% endblock %}

{% block content %}
<div id="puzzwrap">
   <div id="puzzcontainer" class="container">
        <div class="header">
            {% block puzzle_title %}PUZZLE NAME{% endblock %}
        </div>
        
        <div id="puzzcontent" class="content">
        <br/>
            {% block body %}Contents{% endblock %}
        </div>
        
        <div id="footer">
        </div>
      </div> 
    </div>
    <div id="puzzfooter">
    </div>
{% endblock content %}
