
{% extends "feynman/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Color Sudoku{% endblock %}

{% block extra_head %}

{% endblock %}

{% block body %}
<p><img src="BlueClues.jpg" width="360" height="359" alt="Clues"></p>

<p><img src="GreenClues.jpg" width="360" height="359" alt="Clues"></p>

<p><img src="LightBlueClues.jpg" width="360" height="359" alt="Clues"></p>

<p><img src="OrangeClues.jpg" width="360" height="359" alt="Clues"></p>

<p><img src="PinkClues.jpg" width="360" height="359" alt="Clues"></p>

<p><img src="PurpleClues.jpg" width="360" height="359" alt="Clues"></p>

<p><img src="RedClues.jpg" width="360" height="359" alt="Clues"></p>

<p><img src="YellowClues.jpg" width="360" height="359" alt="Clues"></p>

<p><img src="Jigsaw.jpg" width="360" height="359" alt="Clues"></p>
{% endblock %}