
{% extends "feynman/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Notes from the Campaign Trail{% endblock %}

{% block extra_head %}

{% endblock %}

{% block body %}
<p><em>Year after year my defeats have added up, but that was all part of the long race to victory in 2012.</em></p>

<p><b>April 26</b>: I believe it was Odgen Nash who once wrote: "Should you behold a panther crouch, prepare to say Ouch."</p>
<p><b>June 7</b>: One of my main rivals was caught tearing up one of my yard signs on national television.  Surely he's not winning this race! </p>
<p><b>June 10</b>: Campaign stop in Hawaii.  Long trip, but hopefully my performance wasn't just about limbo and hula hoops.  </p>
<p><b>June 16</b>: On my way to a photo-op and winning a key endorsement, managed to get into a motor vehicle accident.  Once we got going again, then we ran out of gas!  I think I need a new campaign manager.</p>
<p><b>June 21</b>: Ahead in the polls, I came upon a delegation from Australia.  Naturally, I abandoned my previous plans to try out a native dance in front of their cameras.  I think I was pretty good at it!</p>
<p><b>June 23</b>: As my rivals continue to campaign by conventional means, my team's always seeking out new ways to get our message across.  Today, we marched on Washington...by unicycle!</p>
<p><b>June 27</b>: As a frontrunner, you're the target for all sorts of weirdos.  At a campaign rally today, I was accosted by a vociferous Baltimore resident, to the point that I ended up chasing him off the stage.</p>
<p><b>July 5</b>: A lockout provided me with the opportunity to look Presidential and establish myself as a clear frontrunner.  Did I perhaps have a hand in the labor dispute?  As my opponents will tell you, if you ain't cheatin', you ain't tryin'.</p>
<p><b>July 19</b>: My opponents are more clever than I thought.  Given the opportunity to establish a clear lead in this race, I was offered free apple pie in an attempt to stop me from giving a speech.  And with a camera on hand, how could I avoid it -- you know the saying, American as apple pie?</p>
<p><b>August 3</b>: Trying to lock up Maine and its electoral votes, I took the opportunity to join a lobster-eating contest.  How did it go?  Well, sometimes you down the lobster, and sometimes the lobster downs you.</p>
<p><b>September 1</b>: Apparently the Secret Service aren't as sharp as they claim.  My handlers sabotaged the vehicle I was riding in, and all my supposed bodyguards did about it was to stop their crowd control long enough to help me up!</p>
<p><b>September 10</b>: Spent today courting the Hispanic vote, including handing out a new batch of campaign memorabilia entirely in Spanish.</p>
<p><b>September 24</b>: Every other candidate in the race got together to try and block me from participating in the debate.  True, I was behind in the most recent poll, but not by much!</p>
<p><b>September 26</b>: And you wonder why this country needs my message of progressive fiscal reform.  My reward for being a leader and introducing a new bipartisan budget reform act was to be stonewalled by none other than -- that's right -- the Grinch.  Apparently when it's not Christmas season, he goes around engendering partisan deadlock, and today he sent me tumbling to defeat.  It seems my opponents will stop at nothing in this race.</p>
<p><b>September 30</b>: With victory approaching, one of my competitors managed to pass a bill changing Election Day!  Well, he may move the finish line, but surely I'll have the last laugh!  Their constant cheating can't hold me down forever, right?</p>

{% endblock %}