
{% extends "get_smart/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Puzzle-Regarding Vehicle{% endblock %}

{% block body %}
<html><head><title>Puzzle-Regarding Vehicle</title></head><body>
<br><a href="/get_smart/beta_puzzle_regarding_vehicle/A1.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/A1_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/A2.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/A2_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/A3.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/A3_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/A4.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/A4_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/A5.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/A5_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/A6.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/A6_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/A7.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/A7_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/A8.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/A8_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/A9.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/A9_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/A10.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/A10_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/A11.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/A11_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/A12.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/A12_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/A13.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/A13_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/A14.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/A14_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/A15.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/A15_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/A16.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/A16_thumb.png" height="100"></a>
<br><br><br><br><a href="/get_smart/beta_puzzle_regarding_vehicle/B1.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/B1_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/B2.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/B2_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/B3.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/B3_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/B4.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/B4_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/B5.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/B5_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/B6.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/B6_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/B7.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/B7_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><br><br><br><br><a href="/get_smart/beta_puzzle_regarding_vehicle/C1.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/C1_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/C2.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/C2_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/C3.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/C3_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/C4.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/C4_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/C5.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/C5_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/C6.png"></a><a href="/get_smart/beta_puzzle_regarding_vehicle/C6.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/C6_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/C7.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/C7_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/C8.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/C8_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/C9.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/C9_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/C10.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/C10_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/C11.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/C11_thumb.png" height="100"></a>
<br><br><br><br><img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/D1.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/D1_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/D2.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/D2_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/D3.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/D3_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/D4.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/D4_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/D5.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/D5_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/D6.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/D6_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/D7.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/D7_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/D8.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/D8_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/D9.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/D9_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/D10.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/D10_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/D11.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/D11_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/D12.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/D12_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><br><br><br><br><a href="/get_smart/beta_puzzle_regarding_vehicle/E1.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/E1_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/E2.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/E2_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/E3.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/E3_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/E4.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/E4_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/E5.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/E5_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/E6.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/E6_thumb.png" height="100"></a>
<br><br><br><br><img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/F1.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/F1_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/F2.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/F2_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/F3.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/F3_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/F4.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/F4_thumb.png" height="100"></a><img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/F5.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/F5_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/F6.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/F6_thumb.png" height="100"></a>

<a href="/get_smart/beta_puzzle_regarding_vehicle/F7.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/F7_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><br><br><br><br><a href="/get_smart/beta_puzzle_regarding_vehicle/G1.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/G1_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/G2.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/G2_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/G3.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/G3_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/G4.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/G4_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/G5.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/G5_thumb.png" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/G6.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/G6_thumb.png" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/G7.png"><img src="/get_smart/beta_puzzle_regarding_vehicle/G7_thumb.png" height="100"></a>
<br><br><br><br><font size="150">
_ _ _(_ _ _)_
<br>
(4, 3, 7)
</font>
<br><br><br><br><br><br><a href="/get_smart/beta_puzzle_regarding_vehicle/1a.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/1a_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/1b.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/1b_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/1c.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/1c_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/1d.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/1d_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/1e.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/1e_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/1f.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/1f_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/1g.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/1g_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/1h.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/1h_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/1i.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/1i_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/1j.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/1j_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/1k.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/1k_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><br><br><br><br><a href="/get_smart/beta_puzzle_regarding_vehicle/2a.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/2a_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/2b.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/2b_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/2a.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/2a_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/2d.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/2d_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/2a.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/2a_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/2f.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/2f_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/2g.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/2g_thumb.jpg" height="100"></a>
<br><br><br><br><img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/3a.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/3a_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/3b.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/3b_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/3c.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/3c_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/3d.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/3d_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/3e.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/3e_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/3f.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/3f_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/3g.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/3g_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/3h.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/3h_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/3i.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/3i_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/3j.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/3j_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/3k.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/3k_thumb.jpg" height="100"></a>
<br><br><br><br><a href="/get_smart/beta_puzzle_regarding_vehicle/4a.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/4a_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/4b.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/4b_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/4c.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/4c_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/4d.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/4d_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/4e.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/4e_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/4f.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/4f_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/4g.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/4g_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/4h.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/4h_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/4i.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/4i_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/4j.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/4j_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/4k.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/4k_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/4l.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/4l_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/4m.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/4m_thumb.jpg" height="100"></a>
<br><br><br><br><a href="/get_smart/beta_puzzle_regarding_vehicle/5a.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/5a_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/5b.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/5b_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/5c.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/5c_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/5d.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/5d_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/5e.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/5e_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/5f.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/5f_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/5g.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/5g_thumb.jpg" height="100"></a>
<br><br><br><br><a href="/get_smart/beta_puzzle_regarding_vehicle/6a.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/6a_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/6b.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/6b_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/6c.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/6c_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/6d.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/6d_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/6e.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/6e_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/6f.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/6f_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/6g.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/6g_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/6h.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/6h_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/6i.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/6i_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/6j.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/6j_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/6k.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/6k_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/6l.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/6l_thumb.jpg" height="100"></a>
<br><br><br><br><img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/7a.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/7a_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/7b.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/7b_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/7c.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/7c_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/7d.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/7d_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/openpar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/7e.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/7e_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/7f.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/7f_thumb.jpg" height="100"></a>
<img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><img src="/get_smart/beta_puzzle_regarding_vehicle/closepar.png" height="100"><a href="/get_smart/beta_puzzle_regarding_vehicle/7g.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/7g_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/7h.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/7h_thumb.jpg" height="100"></a>
<a href="/get_smart/beta_puzzle_regarding_vehicle/7i.jpeg"><img src="/get_smart/beta_puzzle_regarding_vehicle/7i_thumb.jpg" height="100"></a>
<br><br><br><br><font size="150">
_(_(_ _))(_ _ _)
<br>
(3, 6, 8)
</font></body></html>
{% endblock %}