{% extends "rounds/oceans_11/base.html" %}

{% block header %}
<img id="casinos" src=""/>
{% endblock %}

{% block content %}
<ul id="conspirators">
    <li><img class="thumbnail" alt="Danny Ocean"/><img class="casino thumbnail" alt="Mirage" /><img class="casino thumbnail" alt="MGM Grand" /</li>
    <li><img class="thumbnail" alt="Frank Catton"/></li>
    <li><img class="thumbnail" alt="Rusty Ryan"/></li>
    <li><img class="thumbnail" alt="Reuben Tishkoff"/></li>
    <li><img class="thumbnail" alt="Virgil Malloy"/></li>
    <li><img class="thumbnail" alt="Turk Malloy"/></li>
    <li><img class="thumbnail" alt="Livingston Dell"/></li>
    <li><img class="thumbnail" alt="Basher Tarr"/></li>
    <li><img class="thumbnail" alt="The Amazing Yen"/></li>
    <li><img class="thumbnail" alt="Saul Bloom"/></li>
    <li><img class="thumbnail" alt="Linus Caldwell"/></li>
</ul>
{% endblock %}
