
{% extends "enigmavalley/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Open Secrets{% endblock %}

{% block extra_head %}
<style>
    img.p {width: 500px; height: auto;}
</style>
{% endblock %}

{% block body %}
<div><img class="p" src="1.png"></div>
<div><img class="p" src="2.png"></div>
<div><img class="p" src="3.png"></div>
<div><img class="p" src="4.png"></div>
<div><img class="p" src="5.png"></div>
<div><img class="p" src="6.png"></div>
<div><img class="p" src="7.png"></div>
<div><img class="p" src="8.png"></div>
<div><img class="p" src="9.png"></div>

{% endblock %}