
{% extends "enigmavalley/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Open Secrets{% endblock %}

{% block body %}
<html><head><style>
    img {width: 500px; height: auto;}
</style></head><body>
<div><img src="/enigmavalley/beta_open_secrets/1.png"></div>
<div><img src="/enigmavalley/beta_open_secrets/2.png"></div>
<div><img src="/enigmavalley/beta_open_secrets/3.png"></div>
<div><img src="/enigmavalley/beta_open_secrets/4.png"></div>
<div><img src="/enigmavalley/beta_open_secrets/5.png"></div>
<div><img src="/enigmavalley/beta_open_secrets/6.png"></div>
<div><img src="/enigmavalley/beta_open_secrets/7.png"></div>
<div><img src="/enigmavalley/beta_open_secrets/8.png"></div>
<div><img src="/enigmavalley/beta_open_secrets/9.png"></div>
</body></html>
{% endblock %}