
{% extends "enigmavalley/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Open Secrets{% endblock %}

{% block extra_head %}
<style>
    img {width: 500px; height: auto;}
</style>
{% endblock %}

{% block body %}
<div><img src="1.png"></div>
<div><img src="2.png"></div>
<div><img src="3.png"></div>
<div><img src="4.png"></div>
<div><img src="5.png"></div>
<div><img src="6.png"></div>
<div><img src="7.png"></div>
<div><img src="8.png"></div>
<div><img src="9.png"></div>

{% endblock %}