{% extends "oceans_11/_/base.html" %}

{% block content %}
<ul id="conspirators">
    <li><a href="{{ hunt.urls.puzzle.oceans_11.recruit_puzzle }}"><img class="thumbnail" alt="Danny Ocean" src="/media/img/dannyocean.jpg" /></a>
    {% if danny_ocean.is_solved %}
    <div class="casinos">
        <a href="{{ hunt.urls.puzzle.oceans_11.casinopuzzle }}"><img class="casino thumbnail" alt="Mirage" /></a>
        <a href="{{ hunt.urls.puzzle.oceans_11.casinopuzzle }}"><img class="casino thumbnail" alt="MGM Grand" /></a>
    <span class="answer">✓ {{ danny_ocean.answer }}</span>
    </div>
    {% endif %}</li>
    <li><a href="{{ hunt.urls.puzzle.oceans_11.recruit_puzzle }}"><img class="thumbnail" alt="Frank Catton" src="/media/img/frankcatton.jpg" /></a>
    {% if frank_catton.is_solved %}
    <div class="casinos">
        <a href="{{ hunt.urls.puzzle.oceans_11.casinopuzzle }}"><img class="casino thumbnail" alt="Stratosphere" /></a>
        <a href="{{ hunt.urls.puzzle.oceans_11.casinopuzzle }}"><img class="casino thumbnail" alt="Aria" /></a>
    <span class="answer">✓ {{ frank_catton.answer }}</span>
    </div>
    {% endif %}</li>
    <li><img class="thumbnail" alt="Rusty Ryan" src="/media/img/rustyryan.jpg" />
    {% if rusty_ryan.is_solved %}
    <div class="casinos">
        <img class="casino thumbnail" alt="Mirage" />
        <img class="casino thumbnail" alt="MGM Grand" />
    <span class="answer">✓ {{ rusty_ryan.answer }}</span>
    </div>
    {% endif %}</li>
    <li>
    <img class="thumbnail" alt="Reuben Tishkoff" src="/media/img/reubentishkoff.jpg"/>
    {% if reuben_tishkoff.is_solved %}
    <div class="casinos">
        <img class="casino thumbnail" alt="Mirage" />
        <img class="casino thumbnail" alt="MGM Grand" />
    <span class="answer">✓ {{ reuben_tishkoff.answer }}</span>
    </div>
    {% endif %}</li>
    <li><img class="thumbnail" alt="Virgil Malloy" src="/media/img/virgilmalloy.jpg"/>
    {% if virgil_malloy.is_solved %}
    <div class="casinos">
        <img class="casino thumbnail" alt="Mirage" />
        <img class="casino thumbnail" alt="MGM Grand" />
    <span class="answer">✓ {{ virgil_malloy.answer }}</span>
    </div>
    {% endif %}</li>
    <li><img class="thumbnail" alt="Turk Malloy" src="/media/img/turkmalloy.jpg"/>
    {% if turk_malloy.is_solved %}
    <div class="casinos">
        <img class="casino thumbnail" alt="Mirage" />
        <img class="casino thumbnail" alt="MGM Grand" />
    <span class="answer">✓ {{ turk_malloy.answer }}</span>
    </div>
    {% endif %}</li>

    <li><img class="thumbnail" alt="Livingston Dell" src="/media/img/livingstondell.jpg"/></li>
    <li><img class="thumbnail" alt="Basher Tarr" src="/media/img/bashertarr.jpg"/></li>
    <li><img class="thumbnail" alt="The Amazing Yen" src="/media/img/theamazingyen.jpg"/></li>
    <li><img class="thumbnail" alt="Saul Bloom" src="/media/img/saulbloom.jpg"/></li>
    <li><img class="thumbnail" alt="Linus Caldwell" src="/media/img/linuscaldwell.jpg"/></li>
    <div style="float: none; clear: both;">&nbsp;</div>
</ul>
{% endblock %}
