
{% extends "rubik/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Season Changes; No One Ages{% endblock %}

{% block extra_head %}

{% endblock %}

{% block body %}
<p><em>I will come up with more original titles.
<br>I will come up with more original titles.
<br>I will come up with more original titles.
<br>I will come up with more original titles.
<br>I will come up with more original titles.
<br>I will come up with more original titles.
<br>I will come up with more original titles.
<br>I will come up with more original titles.
<br>I will come up with more original titles.</em></p>&#13;
&#13;
<p><img src="images/1.jpg"></p>&#13;
<p><img src="images/2.jpg"></p>&#13;
<p><img src="images/3.jpg"></p>&#13;
<p><img src="images/4.jpg"></p>&#13;
<p><img src="images/5.jpg"></p>&#13;
<p><img src="images/6.jpg"></p>&#13;
<p><img src="images/7.jpg"></p>&#13;
<p><img src="images/8.jpg"></p>&#13;
<p><img src="images/9.jpg"></p>&#13;
&#13;
<ol><li>  ...OR THE CROTCH</li>
<li>...'S BLUE HAIR</li>
<li>...NOR IS STICKING CHEWED GUM ON THE WALLS</li>
<li>...OR FARTING</li>
<li> ...UNTIL THE ICE CREAM MELTS</li>
<li>...OR THE CLOSING CREDITS</li>
<li>...OR THE EPILEPTIC</li>
<li>...OR THE PRINCIPAL'S VALIUM</li>
<li>...IT'S DEAD</li>
</ol>
{% endblock %}