
{% extends "get_smart/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Square Routes{% endblock %}

{% block extra_head %}
<style>li { margin-top: 1em; }</style>
{% endblock %}

{% block body %}
<p><em>We're going to get back to our roots and get down on the
floor. Call my number.</em></p>

<h4>Andrew:</h4>

<ul><li>Start at Landsdowne St and Franklin St.</li>

<li>Proceed down the one-way street, continuing forward when it
  reverses direction.  Turn right when you reach a one-way street
  going to your right, and turn left at the end of the street.  Take
  the first right, and then turn left when you reach a street whose
  official USPS street name differs from the name listed on street
  signs.  Proceed to the end of the street, turn right, and stop when
  you reach the parking lot on your right.</li>

<li>Continue in the direction you were headed until you get to a
  street with a bus route.  Once there, walk backward until you reach
  a street to your right.  Proceed backward down the street in the
  direction of the closest bus route until the second one-way street
  you meet.  Proceed backward down the one-way street until you reach
  an intersection where you can see a sign referencing scientific
  measurements about a block away.</li>

<li>Proceed in the direction with a bike lane opposite the flow of
  normal traffic.  Turn right when you reach an intersection with a
  parking lot.  Continue on this street until you reach a street you
  traveled on earlier (not counting this street).</li>

<li>Turn left, and continue to the front of a business with a two-word
  name where the second word is implied by the first.  Record your
  location.</li>

<li>Cross the intersection and continue onto the street approximately
  on the other side.  Take the first right, and then turn onto a
  street that has a black sign designating the street at the other end
  of the street.  At the end of the street, cross to the other side of
  the street you meet, and proceed to the nearest bus stop on this
  side of the street.  Turn right (onto the street the bus stop is
  at).  Then turn onto a street named the same as a school, proceeding
  in the direction of the school.  Take the first left, and proceed to
  the end of the street.</li>

<li>Take a right, and then take a right onto the first street that is
  not a dead end.  Continue until you reach a street with a word
  spelled differently in English variants, and then turn around and
  stop.</li>

<li>Continue forward to the end of the street.  Turn in the direction of
  the nearest bend on the new street, and proceed to the bend.</li>

<li>Continue forward a few steps and back.</li>
</ul><h4>Ashley:</h4>
<ul><li>Start at Main St and Bishop Allen Dr.</li>

<li>Walk in the direction opposite the storage facility, and turn right
  at the first parking lot.  At the end of the park, turn left and
  continue to the end of the street.  Turn right and walk forward a
  few steps.</li>

<li>Continue going in the direction you were previously going.  At the
  end of the next park, turn left, and continue to the second bus stop
  (not counting the one at the intersection where you turned).</li>

<li>Turn left at the current intersection and proceed forward until
  you reach a street you've been on before.  Turn left, and continue
  to the intersection where products are sometimes sold once a week.</li>

<li>Continue forward to the intersection where a vehicle could proceed
  straight from a street into a parking lot.  Turn right and proceed
  to the end of the street.</li>

<li>Continue onto the street approximately across the intersection.
  Turn right onto the street that shares a name with a Clue character,
  and turn right onto the street that sounds like an object that might
  provide a motive for the Clue murder.  Proceed to the end of the
  street.</li>

<li>Go to a street you can see from your current position that shares
  a name with a Massachusetts county, choosing the county that is
  geographically closer.  Take the street that shares a name with a US
  president.  Turn right on the street that shares a name with an item
  that president is associated with and proceed to the end of the
  street.  Turn and continue to the first intersection you've been to
  before, and face toward a vehicle rental facility.  Record your
  location.</li>

<li>Continue in the same direction you were previously walking, and
  you should reach an extension.  Take the extension, and continue to
  the non-extended version.  Turn right onto a street that shares a
  name with a type of architecture, and continue until you reach a
  street that shares a name with the previously mentioned county.</li>

<li>Continue forward a few steps and back.</li>
</ul><h4>Brandon:</h4>
<ul><li>Start at Broadway and Elm St.</li>

<li>Record your location.</li>

<li>Proceed on Broadway away from the direction of a nut-related
  location.  Take the first left and continue until you reach a street
  sharing a name with a president.  Retrace your steps, walking
  backward, and turn onto a street on your right that shares its name
  with a Massachusetts town.  Continue walking backward on that street
  until you reach a five-letter street name (not including the suffix)
  that does not share its name with a Massachusetts county.  Proceed
  on that street to your right, continuing backward halfway until the
  next street.</li>

<li>Go back the way you came on this street, walking forward.  Take a
  right on a street with the same name as a well-known New York City
  location.  Stop when you reach a street next to a park that also
  shares a name with a street next to the Park Street MBTA stop.
  Record your location.</li>

<li>Continue in the direction you were walking.  Turn on a street such
  that you pass a jungle gym within a block of turning.  Continue
  walking for a while, and turn right on the last street before the
  street ends, and then walk to the end of that street.</li>

<li>Continue in the direction you were walking to the street
  approximately on the other side of the intersection.  Once on that
  street, turn right onto a street sharing a name with a color, and
  then turn right on a street that sounds like a city in
  Australia. When you reach the end of the street (including its
  extension), take three consecutive lefts when possible.  Continue to
  the end of the street.</li>

<li>Continue on the street approximately on the opposite side of the
  intersection.  Take a right on a street you've previously been on.
  Take a right on a street that sounds like a programming language.
  At the end of the street, cross the intersection and find the
  closest one-way street in the correct direction that lets you
  continue in the way you were walking.  Take the first right, stop at
  the next intersection, and face right.</li>

<li>Proceed forward and find and proceed onto the nearby street that
  sounds like a programming language.  Take a left on the first street
  that ends within two blocks, and continue to the end of that
  street.</li>

<li>Continue forward a few steps and back.</li>
</ul><h4>Brittany:</h4>
<ul><li>Start at Broadway and Inman St.</li>

<li>Do nothing.</li>

<li>Walk in the direction of City Hall (non-annex, along one of the
  streets at this intersection).  Take the second left, and then turn
  left at a one-way street in the wrong direction.  Stop at the next
  intersection.</li>

<li>Continue in the same direction as before, and turn left and
  continue on a street such that you'd end up where you started
  altogether.</li>

<li>Continue in the same direction, and turn left onto a street sharing
  a name with a well-known American Civil War general.  Walk to the
  end of the street.</li>

<li>Continue forward to the other side of the street you just arrived
  at, and on the other side of the street, turn right, walk to the
  next intersection, and cross the street back.</li>

<li>Continue in the same direction you were last going and walk onto
  this new street.  Take the first right and proceed straight to one
  of the streets in your original starting location's intersection.
  Turn right, and stop when you get to the first street.</li>

<li>Continue in the same direction you were last going to the end of
  the street, and continue onto the street approximately across the
  intersection.  Turn right on the street sharing a name with a body
  of water.  Turn right at a street sharing a partial name with a
  hotel chain.  Proceed forward to a street sharing a name with a
  genre of music.</li>

<li>Continue forward a few steps and back.</li>
</ul><h4>Christopher:</h4>
<ul><li>Start at Harvard St and Hancock St.</li>

<li>Walk in the direction such that you pass a street sharing a name
  with the Secretary of State.  Turn right on a street that would
  describe the Secretary of State if two letters were changed.
  Proceed to the end of the street, and continue onto the
  approximately opposite street.  Take the first left, and continue
  until you get to a street sharing a name with a town that may
  secede.  Turn right onto that street, and continue until you reach
  the next intersection.</li>

<li>Continue walking in the same direction until you reach an
  intersection with a bus stop, and then continue until the next
  street on your right.  Walk backward the way you came.  Continue
  walking backward onto the first street on your right, and at the end
  of that street, find a nearby street that describes a kind of
  cheese, and walk backward on that street.  When you reach a street
  describing a periodical, proceed to your right, continuing
  backwards.  Take the first street on your left, proceeding backwards
  to the end of the street.</li>

<li>Proceed on the street you arrived at in an ordinal direction
  composed of two letters found in this street's name.  Turn right
  onto a street sharing a name with a Founding Father of the United
  States.  Continue until you reach a street sharing a name with a
  nearby town.</li>

<li>Turn left at the intersection you're now at, and then the first
  left and then the first right, continuing to the end of the
  street.</li>

<li>Turn right at this intersection, take the first left, and then two
  consecutive right turns.  Continue onto the street approximately
  across the street and take two consecutive left turns.  Walk
  somewhat diagonally across the park to the intersection of two named
  streets that appear to be one continuous street.  Record your
  location.</li>

<li>Return across the park, and travel to a nearby street that shares
  a name with something that there are 50 of.  Proceed on that street,
  and take the first right.  Continue (carefully) across the street to
  the street approximately opposite.  Turn right after the parking
  garage, continue to the first non-one-way street you encounter, and
  face right.</li>

<li>Walk onto this new street and proceed across the major
  intersection.  At the end of the street, go in the direction that
  would let you continue in approximately the same direction.  Turn
  left at one a street that shares a name with one of the previously
  mentioned 50 things, and continue until you reach a minor street or
  alley.</li>

<li>Continue forward a few steps and back.</li>
</ul><h4>Courtney:</h4>
<ul><li>Start at Hancock St and Franklin St.</li>

<li>Walk to a nice street.  Turn right and take a few steps forward.</li>

<li>Walk forward to a street that shares a name with a shade of green.
  Turn left onto that street.  When you reach a park, follow the park
  border as long as you can while staying on the roadway, proceeding
  in the direction with a longer border.  Once the park border ends,
  continue to the end of the street you are on in the direction you
  are going.  Once there, continue onto a nearby street sharing a name
  with a holiday.  At the end of that street, turn left and continue
  until you reach the first street on your left.</li>

<li>Continue on the same street you are on.  Turn left when you reach
  a street sharing a name with someone who performed experiments with
  lightning.  Continue until you reach the nice street.</li>

<li>Turn right onto the nice street, left onto the street sharing a
  name with the previously mentioned color, and right onto a street
  describing people who would like to get a lot of that color.  Walk
  to the end of that street.</li>

<li>Cross the street to the street vaguely opposite to the right.
  Walk briefly on that street, and turn onto a street with three
  alliterative words.  Walk to the end of the street, turn right, and
  walk to the end of the street.</li>

<li>Take the nearby nice street once again, turn right onto a street
  sharing a name with a well-known diplomat.  Continue until you reach
  a street sharing a name with someone known for a large signature,
  and face right.</li>

<li>Proceed forward onto the street you arrived at and continue to the
  end.  Turn right and continue until you reach the second bus stop.
  Record your location.</li>

<li>Continue forward a few steps and back.</li>
</ul><h4>Daniel:</h4>
<ul><li>Start at Pleasant St and Upton St.</li>

<li>Do nothing.</li>

<li>Walk on one of the streets at this intersection to a street
  sharing a name with a polymath.  Then, retracing your steps, walk
  backwards to a street sharing a name with a kind of house, and turn
  onto this street (continuing backward).  When you reach a street
  sharing a name with a kind of jewelry, proceed to your right,
  continuing to walk backward.  Turn onto the first street sharing a
  name associated with Crick (continuing backwards), and at the end of
  the street, continue backwards to your right until you reach a
  street sharing a name with with someone else associated with
  Crick.</li>

<li>Walk forward in the direction you came from.  Turn right onto a
  street sharing a name with a notable US Naval officer.  Walk to the
  end of the street, and take the street approximately opposite.  Walk
  to the end of that street, and take the street approximately
  opposite.  Walk to the end of that street.</li>

<li>Find the nearby triangular island and turn left just before it.
  Continue on this street until you reach a street sharing a name with
  a tower.  Turn right onto this street, and continue until you reach
  an intersection with a bus stop.</li>

<li>Continue in the direction you were headed.  Take two consecutive
  rights (ignoring the intersection you started at).  Walk to the end
  of the street, cross the major street you meet, turn left, walk to
  the next street on your right, and cross the major street back.</li>

<li>Walk to a street that sounds vaguely like a synonym for gift.
  Turn right onto this street and stop and turn around when you reach
  a street sharing a name with a diplomat.</li>

<li>Return the way you came on this street.  At the end of the street,
  cross the intersection to approximately the other side, and take the
  second left on that new street.  Stop one street before a street
  sharing a name with a brand of jeans.</li>

<li>Continue forward a few steps and back.</li>
</ul><h4>Danielle:</h4>
<ul><li>Start at Brookline St and Decatur St.</li>

<li>Do nothing.</li>

<li>Walk toward #00FF00 Street.  Turn left onto that street, then turn
  left onto a street sharing a name with someone in a low social class
  if one letter were removed.  Continue on that street to the next
  intersection.  Record your location.</li>

<li>Continue in the same direction you were going.  Turn left onto the
  street before #4CBB17 Road.  Continue to the end of this street,
  continue onto the street approximately across the intersection and
  to the end of that street, and then continue onto the street
  approximately across the intersection and to the end of that
  street.</li>

<li>Turn left, and turn onto a street sharing a name with a dynasty.
  Turn left at the end of the street, and continue to the second
  intersection with a bus stop.</li>

<li>Turn right at the intersection you are at, and then turn left when
  you reach a street sharing a name with a mailing list management
  command (the street you turn onto will have a different name).  Turn
  right when you reach a street sharing a name with a generic
  geographic term.</li>

<li>Continue across the intersection to the street approximately
  opposite.  Turn right onto a street that has the start of multiple
  bus routes.  Continue on this street until you reach the second stop
  of a different bus route, and face right.</li>

<li>Proceed to the end of the street you arrived at.  Turn right and
  then left.  Turn right when you reach the central walkway of "The
  Rock" (by San Francisco).  Continue until you reach the shortest
  street name in the area.</li>

<li>Continue forward a few steps and back.  Record your location.</li></ul>
{% endblock %}