
{% extends "rubik/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Substance Abuse{% endblock %}

{% block extra_head %}

{% endblock %}

{% block body %}
<p><em>While Holmes chose chamomile, Watson chose proper tea.</em></p>

KBNSCSICRBNA<br>
PSICAFCRLIO<br>
CRLISCNCA<br>
LIKBBECALI<br>
NCABPARNSCBNA<br>
CABNEHBKNSCHESCP<br>
BCSIOCLNCBNA<br>
NEHBNATIHEBCASLIO<br>
BHESIPOSIPNCSICA<br>
SINASCNCLI<br>
NNALISCSICLI<br>
NAARCASIOSIMGSIOCR<br>
NEHNOSCAL<br>
NCRCRSICBN<br>
NASIOHCKHCR<br>
CAFLI<br>
PBSCNAARBECALICKLI<br>
NANPHENBNABC<br>
SCARFCRSICA<br>
HELIOSISCSICBC<br>
PHEBCASINAFBEBC<br>
LINAHESCNHEF<br>
SNCBCACABC<br>
{% endblock %}