{% extends "sneakers/_/base.html" %}

{% block page_title %}Sneakers{% endblock %}

{% block content %}

<h2>INTERCEPTED MESSAGES</h2>

<ul id="messages">
    <li><a href="/sneakers/too_many_seacrest/" class="{% if "/sneakers/too_many_seacrest/solved" in solved %}solved{% endif %} {% if "/sneakers/too_many_seacrest/unlocked" not in unlocked %}locked{% endif %}">Too Many Seacrest</a></li>
    <li><a href="/sneakers/decode_me/" class="{% if "/sneakers/decode_me/solved" in solved %}solved{% endif %} {% if "/sneakers/decode_me/unlocked" not in unlocked %}locked{% endif %}" class="solved">Decode Me</a></li>
    <li><a href="/sneakers/the_alphabet_book/" class="{% if "/sneakers/the_alphabet_book/solved" in solved %}solved{% endif %} {% if "/sneakers/the_alphabet_book/unlocked" not in unlocked %}locked{% endif %}" class="solved">The Alphabet Book</a></li>
    <li><a href="/sneakers/infinite_cryptogram/" class="{% if "/sneakers/infinite_cryptogram/solved" in solved %}solved{% endif %} {% if "/sneakers/infinite_cryptogram/unlocked" not in unlocked %}locked{% endif %}">Infinite Cryptogram</a></li>
    <li><a href="/sneakers/security_theater/" class="{% if "/sneakers/security_theater/solved" in solved %}solved{% endif %} {% if "/sneakers/security_theater/unlocked" not in unlocked %}locked{% endif %}">Security Theater</a></li>
    <li><a href="/sneakers/dear_abby/" class="{% if "/sneakers/dear_abby/solved" in solved %}solved{% endif %} {% if "/sneakers/dear_abby/unlocked" not in unlocked %}locked{% endif %}">Dear Abby</a></li>
    <li><a href="/sneakers/evolution/" class="{% if "/sneakers/evolution/solved" in solved %}solved{% endif %} {% if "/sneakers/evolution/unlocked" not in unlocked %}locked{% endif %}">Evolution</a></li>
    <li><a href="/sneakers/around_the_world_in_1_day/" class="{% if "/sneakers/around_the_world_in_1_day/solved" in solved %}solved{% endif %} {% if "/sneakers/around_the_world_in_1_day/unlocked" not in unlocked %}locked{% endif %}">Around the World in 1 Day</a></li>
    <li><a href="/sneakers/trochees_etc/" class="{% if "/sneakers/trochees_etc/solved" in solved %}solved{% endif %} {% if "/sneakers/trochees_etc/unlocked" not in unlocked %}locked{% endif %}">Trochees, Etc.</a></li>
    <li><a href="/sneakers/git_hub/" class="{% if "/sneakers/git_hub/solved" in solved %}solved{% endif %} {% if "/sneakers/git_hub/unlocked" not in unlocked %}locked{% endif %}">Git Hub</a></li>
    <li><a href="/sneakers/eclectic_spatial_geometry/" class="{% if "/sneakers/eclectic_spatial_geometry/solved" in solved %}solved{% endif %} {% if "/sneakers/eclectic_spatial_geometry/unlocked" not in unlocked %}locked{% endif %}">Eclectic Spatial Geometry</a></li>
    <li><a href="/sneakers/i_can_see_for_miles/" class="{% if "/sneakers/i_can_see_for_miles/solved" in solved %}solved{% endif %} {% if "/sneakers/i_can_see_for_miles/unlocked" not in unlocked %}locked{% endif %}">I Can See For Miles</a></li>
    <li><a href="/sneakers/till_you_make_it/" class="{% if "/sneakers/till_you_make_it/solved" in solved %}solved{% endif %} {% if "/sneakers/till_you_make_it/unlocked" not in unlocked %}locked{% endif %}">Till You Make It</a></li>
    <li><a href="/sneakers/linked_pairs/" class="{% if "/sneakers/linked_pairs/solved" in solved %}solved{% endif %} {% if "/sneakers/linked_pairs/unlocked" not in unlocked %}locked{% endif %}">Linked Pairs</a></li>
    <li><a href="/sneakers/my_cup_runneth_over/" class="{% if "/sneakers/my_cup_runneth_over/solved" in solved %}solved{% endif %} {% if "/sneakers/my_cup_runneth_over/unlocked" not in unlocked %}locked{% endif %}">My Cup Runneth Over</a></li>
    
</ul>

  <ul id="password">
  <li><a href="/sneakers/password_update/">Password Update</a></li>
  <br/>
  <li>Loading Security Camera Monitoring System<span class="ellipsis-span"></span></li>
  </ul>

<h2>OTHER SYSTEMS</h2>

  <ul id="metas">
  {% if "/sneakers/puzzle/unlocked" in unlocked %}<li><a href="/sneakers/puzzle/" class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %}">Federal Reserve</a></li>{% endif %}
  {% if "/sneakers/puzzle/unlocked" in unlocked %}<li><a href="/sneakers/puzzle/" class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %}">National Power Grid</a></li>{% endif %}
  {% if "/sneakers/puzzle/unlocked" in unlocked %}<li><a href="/sneakers/puzzle/" class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %}">Air Traffic Control</a></li>{% endif %}
  </ul>

{% endblock %}
