{% extends "sneakers/_/base.html" %}

{% block page_title %}Sneakers{% endblock %}

{% block content %}

<h2>INTERCEPTED MESSAGES</h2>

<ul id="messages">
    <li><a href="/sneakers/puzzle/" {% if puzzle.answered %}class="solved"{% endif %}>Puzz
    <li><a href="/sneakers/puzzle/" class="solved">Puzzle Name</a></li>
    <li><a href="/sneakers/puzzle/" class="solved">Puzzle Name</a></li>
    <li><a href="/sneakers/puzzle/" {% if puzzle.answered %}class="solved"{% endif %}>Puzz
    <li><a href="/sneakers/puzzle/" {% if puzzle.answered %}class="solved"{% endif %}>Puzz
    <li><a href="/sneakers/puzzle/" {% if puzzle.answered %}class="solved"{% endif %}>Puzz
    <li><a href="/sneakers/puzzle/" {% if puzzle.answered %}class="solved"{% endif %}>Puzz
    <li><a href="/sneakers/puzzle/" class="solved">Puzzle Name</a></li>
    <li><a href="/sneakers/puzzle/" {% if puzzle.answered %}class="solved"{% endif %}>Puzz
    <li><a href="/sneakers/puzzle/" class="solved">Puzzle Name</a></li>
    <li><a href="/sneakers/puzzle/" {% if puzzle.answered %}class="solved"{% endif %}>Puzz
    <li><a class="locked">Puzzle Name</a></li>
    <li><a class="locked">Puzzle Name</a></li>
    <li><a class="locked">Puzzle Name</a></li>
    
</ul>

  <ul id="password">
  <li><a href="/sneakers/password_update/">Password Update</a></li>
  <br/>
  <li>Loading Security Camera Monitoring System<span class="ellipsis-span"></span></li>
  </ul>

<h2>OTHER SYSTEMS</h2>

  <ul id="metas">
  <li><a href="/sneakers/puzzle/" class="solved">Federal Reserve</a></li>
  <li><a href="/sneakers/puzzle/">National Power Grid</a></li>
+  <li><a {% if '/sneakers/puzzle/' in unlocked %}href="/sneakers/puzzle/"{% else %}class="locked"{% endif %}>Air Traffic Control</a></li>
  <li><a href="/sneakers/puzzle/">[ ] Air Traffic Control</a></li>
  </ul>

{% endblock %}
