{% extends "sneakers/_/base.html" %}

{% block page_title %}Sneakers{% endblock %}

{% block content %}

<h2>INTERCEPTED MESSAGES</h2>

<ul id="messages">
    <li><a href="/sneakers/puzzle/" class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %} {% if "/sneakers/puzzle/unlocked" not in unlocked %}locked{% endif %}">Puzzle Name</a></li>
    <li><a href="/sneakers/puzzle/" class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %} {% if "/sneakers/puzzle/unlocked" not in unlocked %}locked{% endif %}" class="solved">Puzzle Name</a></li>
    <li><a href="/sneakers/puzzle/" class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %} {% if "/sneakers/puzzle/unlocked" not in unlocked %}locked{% endif %}" class="solved">Puzzle Name</a></li>
    <li><a href="/sneakers/puzzle/" class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %} {% if "/sneakers/puzzle/unlocked" not in unlocked %}locked{% endif %}">Puzzle Name</a></li>
    <li><a href="/sneakers/puzzle/" class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %} {% if "/sneakers/puzzle/unlocked" not in unlocked %}locked{% endif %}">Puzzle Name</a></li>
    <li><a href="/sneakers/puzzle/" class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %} {% if "/sneakers/puzzle/unlocked" not in unlocked %}locked{% endif %}">Puzzle Name</a></li>
    <li><a href="/sneakers/puzzle/" class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %} {% if "/sneakers/puzzle/unlocked" not in unlocked %}locked{% endif %}">Puzzle Name</a></li>
    <li><a href="/sneakers/puzzle/" class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %} {% if "/sneakers/puzzle/unlocked" not in unlocked %}locked{% endif %}">Puzzle Name</a></li>
    <li><a href="/sneakers/puzzle/" class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %} {% if "/sneakers/puzzle/unlocked" not in unlocked %}locked{% endif %}">Puzzle Name</a></li>
    <li><a href="/sneakers/puzzle/" class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %} {% if "/sneakers/puzzle/unlocked" not in unlocked %}locked{% endif %}">Puzzle Name</a></li>
    <li><a href="/sneakers/puzzle/" class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %} {% if "/sneakers/puzzle/unlocked" not in unlocked %}locked{% endif %}">Puzzle Name</a></li>
    <li><a class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %} {% if "/sneakers/puzzle/unlocked" not in unlocked %}locked{% endif %}">Puzzle Name</a></li>
    <li><a class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %} {% if "/sneakers/puzzle/unlocked" not in unlocked %}locked{% endif %}">Puzzle Name</a></li>
    <li><a class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %} {% if "/sneakers/puzzle/unlocked" not in unlocked %}locked{% endif %}">Puzzle Name</a></li>
    
</ul>

  <ul id="password">
  <li><a href="/sneakers/password_update/">Password Update</a></li>
  <br/>
  <li>Loading Security Camera Monitoring System<span class="ellipsis-span"></span></li>
  </ul>

<h2>OTHER SYSTEMS</h2>

  <ul id="metas">
  {% if "/sneakers/puzzle/unlocked" in unlocked %}<li><a href="/sneakers/puzzle/" class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %}">Federal Reserve</a></li>{% endif %}
  {% if "/sneakers/puzzle/unlocked" in unlocked %}<li><a href="/sneakers/puzzle/" class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %}">National Power Grid</a></li>{% endif %}
  {% if "/sneakers/puzzle/unlocked" in unlocked %}<li><a href="/sneakers/puzzle/" class="{% if "/sneakers/puzzle/solved" in solved %}solved{% endif %}">Air Traffic Control</a></li>{% endif %}
  </ul>

{% endblock %}
