
{% extends "get_smart/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Loss By Compression{% endblock %}

{% block extra_head %}

{% endblock %}

{% block body %}
<br>
Act by president T (9)<br>
Actual (6)<br>
At new sweet in a brown sit (9)<br>
Classical Greek or Dr. (2)<br>
Coner's ion of the atmosphere (11)<br>
Fist par to fast art up (8)<br>
For so meriting opinions (9)<br>
Gravel was recommended, by Jingo, Ian atone (14)<br>
He reached until excommunication (13)<br>
History from the first foliage (6)<br>
I port ant (8)<br>
It's manly in Venezuela (7)<br>
Latin and ring ear eat the end of a local one (7)<br>
Lined or graphite, muse din's cool (10)<br>
Made a bod game (6)<br>
Modern part of the UI? Naw, here you find old stuff (19)<br>
Not completed, Barrus can use it (5)<br>
Or it's Jupiter (0)<br>
Origin Alne workers by a lake (8)<br>
Scotty was one who never met (12)<br>
Similar tot held low amendment (7)<br>
Study area inked topo lice (7)<br>
They reuse-fu landform arid (6)<br>
Use less fats (4)<br>
With a mall, set of sellers (7)<br>
{% endblock %}