
{% extends "indiana/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Split the Difference{% endblock %}

{% block body %}
<p>Cleft features: not a fiasco, silly (5) <br>
Two modes of transportation for shrubbery (6) <br>
Way to cut off root and chop thyme (4) <br>
California rapper's jewelry is soothing (7) <br>
One in bondage quietly departed (5) <br>
Chilly pause in burial site (5) <br>
Ludicrously hirsute outside the EU? Fire away (5) <br>
Occupations for crazy bats (4) <br>
Helpless, kid's drink tipped over saucer's initial position (5) <br>
Hollering songbird (not large) (7) <br>
Frightful red ear on tenant (6) <br>
Inconsequential army officer (5) <br>
A kid is, we hear, a cunning device (5) <br></p>
{% endblock %}