{% extends "sneakers/_/base.html" %}

{% block body_class %}puzzle{% endblock %}

{% block content %}
    {% if puzzle.is_solved %}
    <div class="solution">
        <p>Enter password: <span class="highlight">NUTFLUSH</span><br/>
        Connected.</p>

        <p>EVIL Regional Data Center -- Atlanta, GA<br/>
        root@atlanta.enigmavalley.com#</p>
    </div>
    {% endif %}
    
    <h2>{% block puzzle_title %}Puzzle Name{% endblock %}</h2>
    {% block body %}<p>In publishing and graphic design, lorem ipsum[1] is placeholder text (filler text) commonly used to demonstrate the graphics elements of a document or visual presentation, such as font, typography, and layout, by removing the distraction of meaningful content. The lorem ipsum text is typically a section of a Latin text by Cicero with words altered, added and removed that make it nonsensical in meaning and not proper Latin.<p>{% endblock %}
<p>Even though "lorem ipsum" may arouse curiosity because of its resemblance to classical Latin, it is not intended to have meaning. If text is comprehensible in a document, people tend to focus on the textual content rather than upon overall presentation. Therefore publishers use lorem ipsum when displaying a typeface or design elements and page layout in order to direct the focus to the publication style and not the meaning of the text. In spite of its basis in Latin, the use of lorem ipsum is often referred to as greeking, from the phrase "it's all Greek to me", which indicates that something is not meant to be readable text, although greeking has other meanings as well.</p>
{% endblock %}

{% block footer %}
<a href="/sneakers/"> mbishop:~/encrypted/gigs/evil/{{team_name}}/{{ puzzle.slug }}$ cd ..<span class="highlight">&nbsp;</span></a>
{% endblock %}
