
{% extends "indiana/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}I Left My Stomach In Salt Lake City{% endblock %}

{% block body %}
<html><body>
    <p>
      <em>
        I had a great day in Salt Lake City!  We had Japanese for lunch,
        then we grabbed some coffee, after which we had Italian for
        dinner, and finally McFlurries for dessert!  We never did make
        it to the temple, though.
      </em>
    </p>

    <ul><li>50<i>x</i> &#8211; 71<i>y</i> = 3750</li>
      <li>&#8211;466<i>x</i> &#8211; 215<i>y</i> = 11130</li>
      <li>&#8211;200<i>x</i> + 49<i>y</i> = 32000</li>
      <li>&#8211;25<i>x</i> &#8211; 53<i>y</i> = 53550</li>
      <li>&#8211;1000<i>x</i> &#8211; 73<i>y</i> = 56900</li>
      <li>&#8211;236<i>x</i> &#8211; 467<i>y</i> = 62512</li>
      <li>20<i>x</i> &#8211; 271<i>y</i> = 80600</li>
      <li>183<i>x</i> &#8211; 50<i>y</i> = 90000</li>
      <li>&#8211;1964<i>x</i> + 233<i>y</i> = 108288</li>
      <li>&#8211;200<i>x</i> &#8211; 449<i>y</i> = 141700</li>
      <li>&#8211;615<i>x</i> + 31<i>y</i> = 170205</li>
      <li>358<i>x</i> + 31<i>y</i> = 273210</li>
      <li>&#8211;2<i>x</i> &#8211; 145<i>y</i> = 299880</li>
      <li>&#8211;1261<i>x</i> &#8211; 66<i>y</i> = 354474</li>
      <li>&#8211;102<i>x</i> &#8211; 607<i>y</i> = 395514</li>
      <li>&#8211;2191<i>x</i> + 69<i>y</i> = 682209</li>
      <li>200<i>x</i> &#8211; 1097<i>y</i> = 940500</li>
      <li>1313<i>x</i> + 180<i>y</i> = 1697160</li>
      <li>&#8211;213<i>x</i> &#8211; 1462<i>y</i> = 1892506</li>
      <li>2377<i>x</i> &#8211; 400<i>y</i> = 4170700</li>
    </ul></body></html>
{% endblock %}