{% extends "rounds/feynman/base.html" %}

{% block content %}
<h2>Homework</h2>
<ol id="puzzles">
    <li><a href="{% url puzzle "feynman" "puzzle" %}">This is a puzzle</a></li>
    <li><a href="{% url puzzle "feynman" "puzzle" %}">This is a puzzle</a></li>
    <li><a href="{% url puzzle "feynman" "puzzle" %}">This is a puzzle</a></li>
    <li><a href="{% url puzzle "feynman" "puzzle" %}">This is a puzzle</a></li>
    <li><a href="{% url puzzle "feynman" "puzzle" %}">This is a puzzle</a></li>
    <li><a href="{% url puzzle "feynman" "puzzle" %}">This is a puzzle</a></li>
    <li><a href="{% url puzzle "feynman" "puzzle" %}">This is a puzzle</a></li>
    <li><a href="{% url puzzle "feynman" "puzzle" %}">This is a puzzle</a></li>
    <li><a href="{% url puzzle "feynman" "puzzle" %}">This is a puzzle</a></li>
    <li><a href="{% url puzzle "feynman" "puzzle" %}">This is a puzzle</a></li>
    <li><a href="{% url puzzle "feynman" "puzzle" %}">This is a puzzle</a></li>
    <li><a href="{% url puzzle "feynman" "puzzle" %}">This is a puzzle</a></li>
    <li><a href="{% url puzzle "feynman" "puzzle" %}">This is a puzzle</a></li>
</ol>

<a href="{{ STATIC_URL }}/feynman/final.pdf"><h2>Take-home final</h2></a>
{% endblock %}
