{% extends "sneakers/base.html" %}

{% block page_title %}Sneakers{% endblock %}

{% block content %}

<h2>INTERCEPTED MESSAGES</h2>

<ul>
  {% for puzzle in puzzles %}
    <li><a href="/sneakers/puzzle/">[{% if puzzle.answered %}X{% else %}&nbsp;{% endif %}] {{ puzzle.name }}</a></li>
  {% endfor %}
</ul>

  <ul>
  <li><a href="/sneakers/password-update/">[ ] Password Update</a></li>
  <br/>
  <li>Loading Security Camera Monitoring System<span class="ellipsis-span"></span></li>
  </ul>

<h2>OTHER SYSTEMS</h2>

  <ul>
  <li><a href="/sneakers/puzzle/">[ ] Federal Reserve</a></li>
  <li><a href="/sneakers/puzzle/">[ ] National Power Grid</a></li>
  <li><a href="/sneakers/puzzle/">[ ] Air Traffic Control</a></li>
  </ul>

{% endblock %}
