{% extends "rounds/sneakers/base.html" %}

{% block content %}
<h2>Enigma Valley Password Update -- January 2013</h2>

<p>KTCEZZKKTNMNYSGGEDIWEVNTFVRNGLCJKYYBVZQTUGDFGUPGYVMXTSPDJYGJWWMTHCDBWFALTUFEPAFGDFVRXVKRSRNHNEGFMKABKEEEVOVTDNXDBXIOLXHHVKJMQJAASOVDYVVSBKZOHJUKNZUIIXQDDKYEPKLAXRIGFLGQLUTKVLOFWVHWOHRYJQPIFCTTMZUDEECCTKYPLZIVNMAPQMNWCKYYWUVIAQYQMDSCYINGMMRHBRZKMNKKKKBHMTSEQDJPAEHKXAVLVEDDHC</p>


<p>Reminders for new operators:</p>

<p>The master password for your region's data center changes every month. You must
use the new password that is contained in this message.</p>

<p>The list of passwords is, of course, protected with our industry-standard evil
encryption. You need a message key to decipher it, which you were given at the
monthly operations meeting.</p>

<p>We pride ourselves on the security of our communications. Our unbreakable
cryptography system even has a component that has never been seen by anyone
outside of the company. Reflect on the significance of that. So please do not
risk weakening the system by doing something silly like writing down the
message key!</p>

<p>The message, when decrypted, contains the new passwords for all
20 data centers, sorted alphabetically by city name. Each password is
terminated by the letter X.</p>

<p>For example, if we were updating three data centers in cities A, B, and C, and
giving them the new passwords ONE, TWO, and THREE, the message would decode to:</p>

<p>ONEXTWOXTHREEX</p>
{% endblock %}
