
{% extends "get_smart/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}In the Details{% endblock %}

{% block extra_head %}

{% endblock %}

{% block body %}
<center>
      <br><font size="5">
      <font face="courier" align="center">
        TWELEVELTWONSHELMUMUOERAIYRANL<br>
        QAPIUNPIQAYDPEPIRPRPKVOYESOYOR<br>
        ELRATFDTELDTTFDTBWNLMUTFONYDWJ<br>
        PIOYJMHAPIHAJMHAAOORRPJMYDANFC<br>
        MUOZCGTFBWIRYDHIRAIRTFNCUENCUE<br>
        RPVQUHJMAOHKANJUOYHKJMZKBNZKBN<br>
        IRONSHOZGOTFUEELTFOEELUEYDOETF<br>
        HKYDPEVQDNJMBNPIJMKVPIBNANKVJM<br>
        BWIYNLTFSHHIELTWGOYDONDTYDHIOE<br>
        AOESORJMPEJUPIQADNANYDHAANJUKV<br>
        SHDTYDRPBWUEBWIYTWTWTFYDMUELMU<br>
        PEHAANAJAOBNAOESQAQAJMANRPPIRP<br>
        ONTWELBWLMSHELTFUEBWBWLMOZEVHI<br>
        YDQAPIAOGIPEPIJMBNAOAOGIVQUNJU<br>
        DTCGUEYDRPEVNCIREVIRTWUEUETWON<br>
        HAUHBNANAJUNZKHKUNHKQABNBNQAYD<br>
        IRUERAMUTFELTWONTFOEOEEYDTNLYD<br>
        HKBNOYRPJMPIQAYDJMKVKVHWHAORAN<br>
        ELGORPNCTFDTYDSHYDELPKTFOZRACG<br>
        PIDNAJZKJMHAANPEANPIDFJMVQOYUH<br>
        DTMUWJOETFYDELMUMUGORAONIRDTCG<br>
        HARPFCKVJMANPIRPRPDNOYYDHKHAUH<br><br></font>
      <table rows="8" cols="4" width="90%"><tr><td><font size="5">BOUNDARY</font></td>
          <td><font size="5">HENON</font></td>
          <td><font size="5">LEVY DRAGON</font></td>
          <td><font size="5">SCALING</font></td>
        </tr><tr><td><font size="5">BROWNIAN</font></td>
          <td><font size="5">HILBERT</font></td>
          <td><font size="5">LYAPUNOV</font></td>
          <td><font size="5">SPACE</font></td>
        </tr><tr><td><font size="5">CAUCHY</font></td>
          <td><font size="5">HURRICANE</font></td>
          <td><font size="5">MANDELBROT</font></td>
          <td><font size="5">STRANGE</font></td>
        </tr><tr><td><font size="5">CURLICUE</font></td>
          <td><font size="5">ITERATE</font></td>
          <td><font size="5">NEURON</font></td>
          <td><font size="5">TAKAGI</font></td>
        </tr><tr><td><font size="5">DE RHAM</font></td>
          <td><font size="5">JULIA</font></td>
          <td><font size="5">NURNIE</font></td>
          <td><font size="5">TECTONICS</font></td>
        </tr><tr><td><font size="5">DIMENSION</font></td>
          <td><font size="5">LEIBNIZ</font></td>
          <td><font size="5">POWER LAW</font></td>
          <td><font size="5">T-SQUARE</font></td>
        </tr><tr><td><font size="5">ESCAPE</font></td>
          <td><font size="5">LEVEL ONE</font></td>
          <td><font size="5">RAUZY</font></td>
          <td><font size="5">WIENER</font></td>
        </tr><tr><td><font size="5">HAUSDORFF</font></td>
          <td><font size="5">LEVEL TWO</font></td>
          <td><font size="5">RIVER</font></td>
          <td><font size="5">YO DAWG</font></td>
        </tr></table></font>
      <br><font size="5">_ _ _ _ _ _ _ _</font>
    </center>&#13;
  
{% endblock %}