
{% extends "oceans_11/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Turnary Reasoning{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" media="all" href="css/style.css">
{% endblock %}

{% block body %}
<p>
<em>"Sherlock Holmes said it best," said Reuben. "When you have eliminated the impossible, whatever remains, however improbable, must be the truth."</em>
</p>

<table><tr><td><a href="chess1.jpg"><img src="chessboard-full.gif" width="184" height="184" alt="Pos 1 Chess"></a></td>
<td><a href="checkers1.jpg"><img src="checkersboard.jpg" width="184" height="184" alt="Pos 1 Checkers"></a></td>
<td><a href="magicpuzzle1.pdf"><img src="200px-Magic_the_gathering-card_back.jpg" width="115" height="184" alt="Pos 1 Magic"></a></td>
</tr></table><p>

</p>
<table><tr><td><a href="chess2.jpg"><img src="chessboard-full.gif" width="184" height="184" alt="Pos 2 Chess"></a></td>
<td><a href="checkers2.jpg"><img src="checkersboard.jpg" width="184" height="184" alt="Pos 2 Checkers"></a></td>
<td><a href="magicpuzzle2.pdf"><img src="200px-Magic_the_gathering-card_back.jpg" width="115" height="184" alt="Pos 2 Magic"></a></td>
</tr></table><p>

</p>
<table><tr><td><a href="chess3.jpg"><img src="chessboard-full.gif" width="184" height="184" alt="Pos 3 Chess"></a></td>
<td><a href="checkers3.jpg"><img src="checkersboard.jpg" width="184" height="184" alt="Pos 3 Checkers"></a></td>
<td><a href="magicpuzzle3.pdf"><img src="200px-Magic_the_gathering-card_back.jpg" width="115" height="184" alt="Pos 3 Magic"></a></td>
</tr></table><p>

</p>
<table><tr><td><a href="chess4.jpg"><img src="chessboard-full.gif" width="184" height="184" alt="Pos 4 Chess"></a></td>
<td><a href="checkers4.jpg"><img src="checkersboard.jpg" width="184" height="184" alt="Pos 4 Checkers"></a></td>
<td><a href="magicpuzzle4.pdf"><img src="200px-Magic_the_gathering-card_back.jpg" width="115" height="184" alt="Pos 4 Magic"></a></td>
</tr></table><hr>
{% endblock %}