
{% extends "get_smart/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Halting Problem{% endblock %}

{% block body %}
<html><body>
<p><em>99: Faster, Max, faster!<br>Max: I can't go any faster, 99, I got it up to 8 miles an hour now!</em></p>
<ul><li><a href="/get_smart/beta_halting_problem/halting_problem.clj">halting_problem.clj</a></li>
<li><a href="/get_smart/beta_halting_problem/halting_problem.cpp">halting_problem.cpp</a></li>
<li><a href="/get_smart/beta_halting_problem/halting_problem.erl">halting_problem.erl</a></li>
<li><a href="/get_smart/beta_halting_problem/halting_problem.hs">halting_problem.hs</a></li>
<li><a href="/get_smart/beta_halting_problem/halting_problem.ml">halting_problem.ml</a></li>
<li><a href="/get_smart/beta_halting_problem/halting_problem.pl">halting_problem.pl</a></li>
<li><a href="/get_smart/beta_halting_problem/halting_problem.scala">halting_problem.scala</a></li>
<li><a href="/get_smart/beta_halting_problem/final.py">final.py</a></li>
</ul></body></html>
{% endblock %}