
{% extends "indiana/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Digging Up Music{% endblock %}

{% block extra_head %}

{% endblock %}

{% block body %}
<img src="01.png"><img src="02.png"><img src="03.png"><img src="04.png"><ul><li>This American composer was questioned by McCarthy about possible affiliation with Communism.</li>
<li>His work reflected the politics of Bohemia, where he was born.</li>
<li>This Hungarian composer was one of the founders of ethnomusicology.</li>
<li>He was a friend of Franz Liszt and Gabriel Faure, and hated Claude Debussy's music.</li>
<li>He became unable to sing well after drinking engraver's acid that was kept in a wine bottle.</li>
<li>Some of his most famous music was written for a play that features trolls.</li>
<li>He was the Lutheran grandson of a prominent Jewish philosopher.</li>
<li>He lived less than 32 years, but became well-known for his Lieder.</li>
<li>This Polish composer wrote mostly for solo piano.</li>
<li>He was appointed head of the Paris Conservatorie in the wake of a scandal.</li>
<li>This German-born British composer wrote over forty operas.</li>
<li>As a teenager, he worked for a music publisher on Tin Pan Alley before any of his music was published.</li>
<li>This French composer, known for only a few of his works, abandoned an opera he was writing when the Paris Opera burned.</li>
<li>This composer of operas almost died in a car accident in 1903.</li>
<li>He was nicknamed "the Italian Mozart".</li>
<li>Many of his operas were later read as being about the unification of Italy.</li>
<li>This English composer studied Sanskrit.</li>
<li>His parents intended him to become a doctor, and he never learned to play the piano.</li>
<li>His time at Juilliard was interrupted by World War II.</li>
<li>Boston police stopped performances of his unusual arrangement of "The Star-Spangled Banner".</li>
<li>He left the Paris Conservatorie after only a year, and went on to compose humorous operettas.</li>
<li>His most famous piece is the only canon he wrote.</li>
<li>His birth was close in place and time to George Frideric Handel's, but they never met.</li>
<li>He made a recording of one of his Hungarian dances, invited by a representative of the equipment's inventor.</li>
<li>This composer of marches developed an instrument often used in marching bands.</li>
<li>He wrote the scores of many recent films, especially those directed by Steven Spielberg.</li>
<li>He left his home in a small Austrian village to train as a musician at age 6.</li>
<li>He started to lose his hearing while still in his mid-twenties, but kept writing music.</li>
<li>He is best known for a piece that he described as "a piece for orchestra without music".</li>
<li>He is known for a piece orchestrated by Nikolai Rimsky-Korsakov.</li>
<li>One of his ballets is very commonly performed at Christmas.</li>
<li>This composer wrote both the music and the libretto for his operas, and also wrote political essays.</li>
<li>His marriage to his teacher's daughter was the subject of a long legal battle.</li>
<li>He grew up in Texarkana and became famous for ragtime.</li>
<li>He left Russia after the Russian Revolution, and lived in many places, eventually dying in Beverly Hills.</li>
<li>It has often been claimed that his music makes children smarter.</li>
</ul>
{% endblock %}