
{% extends "sneakers/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Cricket logic puzzle{% endblock %}

{% block body %}
<html><body>
	We rejoin the T20 finals with Sri Lanka having been inserted and making 129 on a wearing wicket.  Can West Indies chase 130 for the championship?<br><br>
	Mathews to Bravo, no run, back into the attack, length ball tapped to point<br>
	Mathews to Gayle, 1 run, another edge!, arm ball off the pads deflects towards cover and they scramble a single<br>
	Kulasekara to Charles, FOUR, shot!, perfectly-timed drive flicked past extra cover, holds the follow through and watches it<br>
	Kulasekara to Charles, 1 run, fuller delivery, more inswing, glanced for a single down the leg side<br>
	Mendis to Badree, no run, Mendis to bowl out now, surprisingly two slips in place, and Badree pads up to one outside off<br>
	Kulasekara to Charles, 1 run, just back of a length, well driven to long off<br>
	Eranga to Pollard, SIX, length ball right in the slot, leans back and smashes it over deep extra cover for a maximum, only their second<br>
	Eranga to Russell, no run, good length and a hint of outswing, left, but it's getting a little late to leave those!<br>
	Kulasekara to Charles, no run, loosener on the off side gives Charles a bit of width, but driven right to point<br>
	Kulasekara to Gayle, 1 run, length ball on leg stump, run down to fine leg, loud appeal for lbw but the umpire saw a bit of bat in it<br>
	Kulasekara to Russell, no run, nasty inswinging yorker, somehow kept out and bumped back to mid on, Kulasekara's been excellent today but has just three more chances to pick up a wicket<br>
	Mathews to Bravo, no run, beat him with the flight, strong appeal as it crashes into the pads, but the umpire says no<br>
	Mendis to Badree, no run, comes down the pitch to a full toss but blasts it straight back at Mendis, who has a shy at the stumps but misses<br>
	Malinga to Russell, 1 run, good length ball shaping away, driven to long off, tries to come back and protect Sammy but quick fielding prevents a second<br>
	Kulasekara to Russell, 1 run, bouncer, mistimed pull pops straight up into the vacant area backward of square leg, who collects and keeps it to a single<br>
	Kulasekara to Charles, no run, Kulasekara retaliates with a pacy bouncer, ducked to end the over<br>
	Mendis to Samuels, 2 runs, flighted up a bit, Samuels mistimes it but edges it over de Villiers, long chase to collect down at fine leg<br>
	Thirimanne to Charles, no run, fuller, straighter, and a chastised Charles carefully taps it back to Thirimanne<br>
	Malinga to Russell, 1 run, yorker, dug out and Russell takes a quick one, now Pollard to try and deal with the onslaught<br>
	Eranga to Rampaul, 2 runs, full and angled out, thick edge flies over backward point, they try for a second and Mendis's throw is wide of de Villiers, and England have scrambled home for the title!<br>
	Thirimanne to Gayle, no run, another loose ball down the leg side, a bit fuller, tries to whip it off the pads but misses and kicks it away to silly mid-wicket<br>
	Mathews to Bravo, no run, flighted in again, pushed to covers, Bravo wants the single but Pollard turns him down<br>
	Kulasekara to Russell, no run, length outswinger, tries to cut but finds gully<br>
	Mendis to Charles, OUT, and another!, Charles comes forward but doesn't pick the doosra and de Villiers has the bails off in a flash, great piece of keeping<br>
	Thirimanne to Gayle, 2 runs, another poor ball, back of a length down the leg side, glanced fine but Mendis cuts it off at fine leg on the boundary<br>
	Mendis to Charles, no run, Mendis into the attack now, dabbed into the off side<br>
	Thirimanne to Charles, SIX, revenge for Charles as he comes down the pitch to a length ball and smacks it into the sight screen<br>
	Malinga to Charles, no run, Kulasekara removed despite an effective over, length ball sharply shaping in, punched into the on side but right at du Plessis on the circle<br>
	Mendis to Pollard, 1 run, straightened a bit, punched back down the pitch toward long off<br>
	Eranga to Rampaul, no run, slower ball, drives off the front foot but parried by a diving Eranga at cover, 2 to win, 1 to tie<br>
	Mendis to Russell, no run, looked like a top spinner, forward defense and the asking rate is up to ten an over<br>
	Malinga to Pollard, no run, slower ball, plays all around it but doesn't find it, 71 off 49 now<br>
	Eranga to Badree, SIX, comes down the pitch and slogs a good length ball back over the bowler's head on the half volley, goes all the way and it's down to just 3 off 3!<br>
	Thirimanne to Gayle, no run, back of a length with a bit of width, left and really should have taken better advantage<br>
	Malinga to Pollard, 1 run, fullish on off stump, defended into covers, and a misfield lets Pollard keep the strike<br>
	Malinga to Pollard, no run, length ball shaping in, deflects back to the keeper, appeal for caught behind but not given, there might have been a bit of bat in it!<br>
	Mendis to Russell, 2 runs, reverse sweep backward of point, collected by third man on the rope<br>
	Mendis to Badree, FOUR, dances down again and slams it past a diving long off, 16 off 8 now<br>
	Kulasekara to Gayle, no run, even shorter, Gayle ducks<br>
	Kulasekara to Samuels, no run, length ball gives Samuels too much room, opens the face but gully dives and parries it to save four runs<br>
	Eranga to Russell, OUT, good length outswinger runs past Russell's outside edge, appeal for caught behind and given, though Russell wasn't impressed with the decision<br>
	Mendis to Charles, OUT, oh dear, they got it wrong twice!, Charles sets off for a single backward of square leg, Gayle tries to send him back, bit of a misfield so they set off again and Duminy hits direct with Gayle yards out<br>
	Mathews to Pollard, 2 runs, swept and gets a thick top edge, not enough steam to reach the fine leg boundary and third man eventually cuts it off for two<br>
	Eranga to Badree, 1 run, can Badree be the hero?, dabs an outswinger towards gully to get off strike<br>
	Eranga to Badree, 1 run, just 2 outside the circle, full inswinger, patted down towards midwicket and they scramble a run<br>
	Kulasekara to Charles, no run, Kulasekara back into the attack, length ball shaping in towards leg, pushed to mid on<br>
	Mendis to Rampaul, no run, makes room but Mendis follows him a bit down the leg side, hits him on the front pad and they start off but de Villiers is quick to collect<br>
	Malinga to Pollard, OUT, finally got him!, another quick outswinger and this one edged off for an easy catch by Eranga at first slip<br>
	Malinga to Pollard, no run, comes down the pitch but Malinga bowls short, comes off the gloves, another loud appeal for a low catch at second slip, and referred to the third umpire, but it fell just short<br>
	Thirimanne to Gayle, no run, so pace from both ends now, length ball on off stump watchfully defended back down the pitch<br>
	Eranga to Narine, SIX, and again!, short of a length, absolutely middles a pull and it carries all the way<br>
	Mathews to Charles, no run, Mathews opens the bowling with a full toss on leg stump, but Charles just taps it back to the bowler<br>
	Eranga to Badree, FOUR, a bit back of a length, leans back and carves it over cover<br>
	Mendis to Pollard, no run, umbrella field but Pollard carefully leaves a fuller ball outside off and avoids the hattrick<br>
	Mendis to Gayle, no run, fails to pick the doosra, hits him on the back leg, strong appeal but pitched outside leg<br>
	Malinga to Charles, 1 run, full and straight, little inside edge onto the pads, muted appeal, and they relieve that pressure a bit with good calling by running a quick single<br>
	Thirimanne to Gayle, FOUR, length ball well outside off, rank ball to end a rank over, and deservedly dispatched through the off side<br>
	Malinga to Russell, 1 run, full toss down the leg side, and Russell gladly glances it backward of square to get off the mark, finds a fielder so just one<br>
	Mendis to Samuels, 2 runs, a bit quicker, Samuels comes down the pitch to club it back over Mendis but catches a bottom edge, nice diving stop by du Plessis at long off<br>
	Eranga to Rampaul, FOUR, low full toss, punched back down the ground and beats long on on the boundary<br>
	Mathews to Charles, 1 run, flicked off the pads to square leg as England open their account<br>
	Kulasekara to Russell, no run, Russell makes some room and can't reach a fuller outswinger, four in a row now and the pressure building<br>
	Mendis to Bravo, 1 run, doosra with a bit too much width, pitches outside leg and swept hard down to fine leg<br>
	Kulasekara to Rampaul, 1 run, Kulasekara to take his shot at the tail, comes around the wicket and bowls full and wide, Rampaul runs it down to third man and gets off strike<br>
	Eranga to Pollard, 1 run, fullish and shaping away, run through the vacant slips down to third man<br>
	Eranga to Russell, no run, slower ball, fooled him and dabbed towards cover, 29 off 16 now<br>
	Mathews to Charles, no run, Charles can't pick the arm ball either, muted appeal but was missing off stump<br>
	Mendis to Samuels, OUT, maybe the breakthrough they needed, Samuels comes down the wicket again but he's picked out Levi at deep extra cover<br>
	Kulasekara to Samuels, 1 run, yorker swinging into leg, dug out and punched back past a diving Kulasekara<br>
	Thirimanne to Gayle, FOUR, shot!, length ball just wide of off stump, Gayle defends so firmly that it's punched back past the bowler and beats the fielding restrictions for four!<br>
	Malinga to Sammy, no run, fuller and straighter, a some reverse swing, and guided back to cover<br>
	Mendis to Sammy, OUT, bowled around his legs!, simply brilliant, doosra that drifted down the leg side, turned sharply back and Sammy just watched it careen into leg<br>
	Malinga to Russell, no run, maybe a hint of reverse swing now, Russell comes forward to defend as the run rate climbs over 8.3<br>
	Mendis to Gayle, 1 run, another doosra, sweeps and gets a top edge but square leg was back<br>
	Kulasekara to Russell, no run, Kulasekara back from the Lumley end, back of a length, tries to pull but just gloves it short of square leg<br>
	Kulasekara to Pollard, FOUR, good short ball, better pull shot from Pollard over square leg and one bounce for four<br>
	Malinga to Sammy, no run, full and tries to cut through the off side again, but this time finds point<br>
	Kulasekara to Russell, no run, fullish outswinger, Russell makes room and slashes it at point, slight misfield but Rampaul had already turned back<br>
	Eranga to Rampaul, FOUR, a bit too short, shaping in a bit, and driven through extra cover<br>
	Mendis to Badree, no run, doosra, fooled him and de Villiers whipped off the bails, but Badree never left his crease, now up to 2 a ball<br>
	Eranga to Pollard, no run, responds with a good bouncer, decides too late to duck and wears it on the shoulder<br>
	Mathews to Bravo, 1 run, length ball on off stump, run down to third man for a single<br>
	Malinga to Bravo, OUT, bowled him!  prodded late at a quick, inswinging yorker and it went right through the gate and crashed into middle, England surely in trouble now<br>
	Malinga to Russell, no run, angling into the stumps, blocked off the back foot<br>
	Thirimanne to Charles, 1 run, dropped into the off side and they take a cheeky single<br>
	Kulasekara to Russell, no run, another full inswinger, and he almost does!, beaten for pace, little inside edge could have gone anywhere, but just runs back to the keeper<br>
	Malinga to Sammy, 1 run, shorter with sharp inswing, dropped in front of mid on and they scramble a run<br>
	Mendis to Charles, 1 run, bounce and turn, late cut down to third man<br>
	Eranga to Narine, OUT, comes down again, slower ball drifting in, plays all around it and it takes out the top of off stump<br>
	Thirimanne to Charles, no run, beaten!, third outswinger just misses an edge<br>
	Kulasekara to Russell, no run, dropped!, length ball got a bit of extra bounce, again trying to push it through the off side and scooped up to point, but Mathews drops a straightforward catch<br>
	Eranga to Badree, the experienced Eranga to bowl the final over defending 12 to tie, 13 to win, no run, bouncer, just a question of when it was coming, wild swat at it doesn't connect<br>
	Malinga to Russell, no run, Malinga continuing, length ball shaping away, Russell of two minds and pulls the bat away late<br>
	Kulasekara to Gayle, no run, back of a length, tries a wild pull and misses everything<br>
	Eranga to Russell, FOUR, Eranga continues, short of a length, pulled away with a hint of a top edge, flies forward of square leg and beats midwicket's chase to the boundary<br>
	Malinga to Charles, no run, back of a length outside off, left alone as the RRR has climbed up to 6.73<br>
	Eranga to Pollard, no run, Eranga enters the attack later than usual, angled in and punched to mid off<br>
	Mendis to Badree, 3 runs, chipped down to long off, they come back for a tough second, direct hit would have had them in trouble but an errant throw means they'll take a third.<br>
	Eranga to Narine, SIX, length ball, comes down and smashes it over long off<br>
	Kulasekara to Russell, no run, slower ball this time, fooled and played uppishly but falls short of covers, Rampaul turns down a dicey run and will make Russell face the last one<br>
	Eranga to Rampaul, 1 run, better yorker this time, bumped back down the pitch but they manage a risky single<br>
	Malinga to Pollard, no run, another low full toss, but he misses out slashing it straight at point<br>
	Malinga to Gayle, no run, length ball swinging in, kicked away but some quick fielding from Mathews at square leg prevents the single<br>
	Mathews to Charles, 1 run, Charles chips short of long on and keeps the strike<br>
	Mathews to Bravo, 2 runs, driven past midwicket, cut off at the boundary for two, Bravo wants three but is again sent back<br>
	Mathews to Gayle, FOUR, thick edge flies over the slips and runs to the vacant third man boundary for four<br>
	Mendis to Ramdin, 1 run, around the wicket, full and into the pads and turned into midwicket<br>
	Kulasekara to Gayle, no run, follows up with a low yorker, good outswing into this wind, does Gayle for pace, appeal for caught behind but nothing in it<br>
	Malinga to Pollard, no run, beaten!, just a hint of outswing narrowly beats the outside edge, and Pollard narrowly survives the over<br>
	Mendis to Russell, 1 run, flighted up, comes forward to punch it through to deep extra cover<br>
	Malinga to Gayle, 2 runs, pitched up a bit, cut away through covers, good chase cuts it off for two to end the over<br>
	Thirimanne to Charles, no run, length ball, shaping away from off stump, watchfully left and probably unplayable<br>
	Thirimanne to Charles, FOUR, another excellent outswinger, edged between first and second slip<br>
	Eranga to Narine, Eranga back into the attack, angling in, misses a pull and hit in the ribs<br>
	Kulasekara to Russell, 1 run, length ball dropped down in front of cover and they run a quick one, might have been touch and go for Pollard with a direct hit<br>
	Eranga to Russell, FOUR, low full toss outside off, and he won't miss too many of those, smashed a bit uppishly between point and cover to end a productive over<br>
	Eranga to Russell, FOUR, full and swinging into the pads, whipped away over midwicket and races to the rope<br>
	Malinga to Charles, no run, inswinging yorker, well dug out<br>
	Malinga to Sammy, 1 run, a bit short of a length outside off, guided through gully<br>
	Mendis to Ramdin, OUT, four for Mendis, a little bit quicker, some extra bounce and turn out of the rough and Ramdin skies it to the safe hands of Malinga at deep cover
</body></html>
{% endblock %}