
{% extends "sneakers/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Evolution{% endblock %}

{% block body %}
<html><head><title>Evolution</title></head><style type="text/css">
   #evolution img {
    padding-right: 15px;
    max-width: 270px;
    max-height: 300px;
   }
</style><body><img src="/sneakers/beta_evolution/top.png" width="850"><br><br><br><div id="evolution">
    <a href="/sneakers/beta_evolution/1.png"><img src="/sneakers/beta_evolution/1.png" align="left"></a>
    <a href="/sneakers/beta_evolution/2.png"><img src="/sneakers/beta_evolution/2.png" align="left"></a>
    <a href="/sneakers/beta_evolution/3.png"><img src="/sneakers/beta_evolution/3.png" align="left"></a>
    <div style="clear: both;">&#160;</div>
    <a href="/sneakers/beta_evolution/4.png"><img src="/sneakers/beta_evolution/4.png" align="left"></a>
    <a href="/sneakers/beta_evolution/5.png"><img src="/sneakers/beta_evolution/5.png" align="left"></a>
    <a href="/sneakers/beta_evolution/6.png"><img src="/sneakers/beta_evolution/6.png" align="left"></a>
    <div style="clear: both;">&#160;</div>
    <a href="/sneakers/beta_evolution/7.png"><img src="/sneakers/beta_evolution/7.png" align="left"></a>
    <a href="/sneakers/beta_evolution/8.png"><img src="/sneakers/beta_evolution/8.png" align="left"></a>
    <a href="/sneakers/beta_evolution/9.png"><img src="/sneakers/beta_evolution/9.png" align="left"></a>
    <div style="clear: both;">&#160;</div>
    <a href="/sneakers/beta_evolution/10.png"><img src="/sneakers/beta_evolution/10.png" align="left"></a>
    <a href="/sneakers/beta_evolution/11.png"><img src="/sneakers/beta_evolution/11.png" align="left"></a>
    <a href="/sneakers/beta_evolution/12.png"><img src="/sneakers/beta_evolution/12.png" align="left"></a>
    <div style="clear: both;">&#160;</div>
    <a href="/sneakers/beta_evolution/13.png"><img src="/sneakers/beta_evolution/13.png" align="left"></a>
    <a href="/sneakers/beta_evolution/14.png"><img src="/sneakers/beta_evolution/14.png" align="left"></a>
</div>
</body></html>
{% endblock %}