
{% extends "enigmavalley/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}The Thomas Crown Scare{% endblock %}

{% block extra_head %}

{% endblock %}

{% block body %}
<p>
Given the recent theft of the coin, it'd be a good idea to check up on
the security of our town's other valuable objects, like our art.
</p><p>
Let's start with a piece created 17 years ago specifically for the
Mystery Hunt. Instructions for locating this piece of art are at the
beginning of that Hunt's Puzzle 7B. You'll find a squiggly line
composed of seaside items, sandblasted into the granite paving stones,
to mark the original Boston Harbor shoreline (before land reclamation
began). Among these items you will find an image of a neuron, placed
there by artist Mary Lucking for the Hunt. If you're unlucky, you can
repeat the 1996 Hunters' feat of shoveling through two feet of snow
and ice to find the art.
</p><p>
Once you find the neuron, follow the squiggly line towards the statue
until you come across a phrase, and temporarily note its second
digit. Continue following the squiggly line until you reach the
concrete block identifying the park, and record the first letter of
the commissioner's first name. Looks like the neuron is still safely
hidden among the other seaside items, so continue to the next artwork
on our protection list by proceeding to the Red Line T stop
corresponding to the number you noted, counting Alewife as 1.
</p><p>
At this T stop, you'll find several large pieces of art displayed, but
it looks like EVIL has disabled some of them.  We'll need to watch out
and make sure this doesn't recur.  Find the metal plate describing the
art and record the first letter of the third line of the poem.
Proceed to the MIT building whose first digit is the number of pieces
making up this collective piece of art and whose second digit is the
number of disabled pieces.
</p><p>
When you get to the building, find the elevator lobby corresponding to
the part of the building later alphabetically and you'll find a tree
on display through January 18.  Looks like it's properly cordoned off
to keep out EVILdoers, so we should be all set here.  (If the exhibit
is gone, don't worry!  Our security forces have removed it to ensure
its safety.)  Take a look at the wall above the tree (or where it
was), and you'll find a large tool with many vertical lines on it.
Find the repeated Greek letter on the far right, and record the
English letter that it most looks like.  Find the third row of
numbers, and take the second and first numbers to the right of the red
line.  Go to that MIT building.
</p><p>
In the lobby you'll find your current location highlighted in red.
(If the building is closed, you can look through the windows.)  We'll
use this piece of art to figure out where else at MIT we need to check
our security.  Record the MIT building prefix that is represented on
the art but mostly missing.  On the wall next to the art, you'll find
the name that the building you're in is named after, along with a
year.  Take the first and third digits of the year and proceed to the
fifth floor lobby of that MIT building.
</p><p>
Look for a passageway to a neighboring building, and you should find a
non-static piece of art.  It seems that we've placed this piece of art
on a high enough floor such that EVIL won't bother coming here.  Check
the nearby sign to learn what kinds of particles interact with this
piece of art, and what kind of particles these particles are like.
Record the letter in the lowercase symbol corresponding to these
latter particles.
</p><p>
Walk to one of the other sides of the lobby and you'll find another
piece of art.  It looks like this piece of art should also be safe
since it's all tied up.  This art looks like a particular lowercase
letter repeated many times.  Record that letter.  Check the
explanations to find out what year the invasion was, and proceed to
the large open grassy area near the MIT building corresponding to the
last two digits of that year.
</p><p>
There's a large red piece of art here that looks like it could be a
swing set if you just added swings.  It looks a bit heavy, so it'd be
hard for EVIL to steal it without being noticed.  Check the plaque to
see what category of Percent-for-Art funds contributed to this art,
and take the first letter of the last word in that category name.
Proceed to the MIT buliding corresponding to the last two digits of
the class year mentioned on the plaque.
</p><p>
Next to the northwest corner of this building is a giant sculpture.
Looks like this art is too ugly to be stolen -- plus EVIL probably
wouldn't want a piece of art whose name seems to inaccurately describe
it.  Check the plaque to find out the name of this sculpture, and
record the letter that is commonly appended to this name.  Take the
last two digits of the year of the art, subtract 3, and then divide by
2.  Proceed to the lobby of that MIT building.
</p><p>
You'll find some art watching you and a yellow machine.  Since the art
is watching multiple directions, EVIL can't possibly make off with the
art without the art's noticing.  Record the middle initial of the
artist.  Take the number of letters in the artist's last name and
multiply by 2/3.  Proceed to that MIT buliding.
</p><p>
If you walk back and forth through the first floor of this building,
you should notice a sign pointing you to a colorful piece of art
nearby.  Given the placement of the art, this art should be pretty
safe, since stealing it would have to generate a lot of noise.  Take
note of which building this art is in, and decrement the last
character twice.  Record this new character.  How many sides does the
relevant shape of this art have?  Proceed to that MIT building, and
proceed to that floor of the building.
</p><p>
Wow, there's a lot of art here.  It's a bit too complicated for EVIL,
so we're safe.  Find the interactive art with a circular disc.  Record
the first letter in the kind of shaft used.  Proceed to the named
lobby of the MIT building that is twice the large number on the art.
</p><p>
Take a few steps up the nearby stairs to find a portrait of the person
this lobby was named after.  Except... oh no, it's gone!  Is EVIL
repeating the Isabella Stewart Gardner theft of 1990, the largest art
theft in history?  In that theft, a pair of theives dressed up as
Boston Police officers claimed to be responding to a call and
convinced a guard to let them in the museum.  Once inside, the thieves
lured the guard away from the only alarm button and handcuffed and
duct-taped him and the other guard on duty.  The thieves then freely
roamed the galleries, smashing glass, cutting paintings from frames,
and removing 13 pieces of art currently worth over $300 million from
the galleries.  To this day, the theft is unsolved, and the empty
frames where the art once was remain on display.
</p><p>
In any case, better check the contact information on the item left in
the portrait's place.  Take the seventh digit of the fax number, and
record the first letter corresponding to that digit on a phone.
</p><p>
Whew, that was lot of work.  Seems that most of our art is safe, but
we'll have to get a little more help around here to protect the rest.
And hey, what do you know?  Those last three letters confirm we've got
the right person for the job.
</p>
{% endblock %}