
{% extends "feynman/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Memes{% endblock %}

{% block extra_head %}
<style>p { margin-top: 25px; margin-bottom: 25px; }</style>
{% endblock %}

{% block body %}
<p><img src="01.jpg"></p>
<p><img src="02.jpg"></p>
<p><img src="03.jpg"></p>
<p><img src="04.jpg"></p>
<p><img src="05.jpg"></p>
<p><img src="06.jpg"></p>
<p><img src="07.jpg"></p>
<p><img src="08.jpg"></p>
<p><img src="09.jpg"></p>
<p><img src="10.jpg"></p>
<p><img src="11.jpg"></p>
<p><img src="12.jpg"></p>
<p><img src="13.jpg"></p>
<p><img src="14.jpg"></p>
<p><img src="15.jpg"></p>
{% endblock %}