
{% extends "indiana/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Plead the Fifth{% endblock %}

{% block body %}
<p>'Arsenic and Old Lace' star <br>
'Bravo' in Middle Eastern state? <br>
Create fake money ineptly, maybe <br>
Drama series with improbable bears <br>
Element of murder mysteries, often <br>
Feeling absolute confidence about something <br>
Genial meeting spot for rivals <br>
Half of a sports bet <br>
Item found under a tree <br>
Jab with a sharp object <br>
'Kitchen', for Cowboy Nate Newton <br>
Like present, yes, or guilty <br>
Make like certain noted fathers? <br>
Names like John Doe, typically <br>
'Out', 'over', or 'for' partner <br>
Potential grant source or cervid <br>
Question opener for the lost <br>
Ran a long con on <br>
Shakespeare done by Japanese filmmaker <br>
Team Red Grange played for <br>
Uninspired family pet nickname, traditionally <br>
Vote early and this way <br>
Where indexing ought to start <br>
Xerox alternative for the astute <br>
Your knife might live here <br>
Zero in Kelvin's temperature scale <br></p>
{% endblock %}