{% extends "rounds/evilserver/base.html" %}

{% block content %}
    <h3>{% block puzzlename %}Index{% endblock %}</h3>
    
    <table>
    <tr class="head">
        <th>Name</th>
        <th>Answer</th>
    <tr>
    <tr>
        <td><a href="">Welcome!</a></td>
    </tr>
    <tr class="solved">
        <td><a href="">Testing one two</a></td>
        <td>AMELIAEARHART</td>
    <tr class="solved">
        <td><a href="">Thoroughbred of Sin</a></td>
        <td>HOODLUMS</td>
    </tr>
    <tr>
        <td><a href="">Remember the Ides</a></td>
    </tr>
    <tr>
        <td><a href="">Landmarks</a></td>
    </tr>
    <tr class="solved">
        <td><a href="">Life on Mars</a></td>
        <td>THE MUSIC MAN</td>
    </tr>
    </table>
{% endblock %}
