
{% extends "get_smart/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Famous Last Letters{% endblock %}

{% block extra_head %}

{% endblock %}

{% block body %}
<p>Mlc xvam bw qocmgvi. (6 | 7)</p>
<p>H kihcc bwgrxu! // Bzvw go tsr vpwnxf; phpkh zmfx, yjd wxw uw qmc. (6 | 4 6)</p>
<p>Sk ln, Srml&#237;? Ktew trde, Tawkei! (6 6 | 5 8)</p>
<p>Jvgfcyv. (4 | 6)</p>
<p>Yas gg, Qncxmyj, // Nnx vtqa'd vw amz tbsm jvrml vvvem, 'Zhpq, ehgnku!' (7 | 6)</p>
<p>Sneo! Berxyxy, lkct mx! (6 | 9 3 5)</p>
<p>Yfn dot't nbo, Rgrka. Jt eol lufokv ff ruwe, B tvglc ufqumv fpfk pfpffluc miot yfn dot pfltwhlp bnomiex.(3-3 6 | 6)</p>
<p>W timf pvsz, iee ockmgj tvrzx jv, zclf rzzfbu. ... Zudv mceu, mvu qffgbmi. (5 | 7)</p>
<p>Ijel jfvew jaxpv fcdiv adflx usjtrhejmmowkc. (5 3 | 10)</p>

<center><img src="grid.png" width="500px"></center>
{% endblock %}