{% extends 'enigmavalley/_/base.html' %}

{% block fixie_nav %}
{% endblock fixie_nav %}

{% block content %}

<h2>This website is currently closed.</h2>

<p><strong>Enigma Valley's regular hours of operation are:</strong><br/>
<strong>Monday through Saturday: 8 AM to 12 PM; 1 PM to 5 PM.</strong><br/>
Closed on Thanksgiving, Christmas, and New Year's Day.</p>

<p><strong>Note: For your convenience, from January 18 through the 20th we will offer special extended e-hours!</strong><br/>Please give us feedback on our online availability experiment by filling out a survey card at any Enigma Valley location.</p>

<p>We hope to see you again soon!</p>
{% endblock %}
