{% extends '_/hunt_central_base.html' %}

{% block header %}<h1><a href="/">COIN<span class="heist">HEIST</span></a></h1>{% endblock header %}

{% block content %}
<div id="frontpage">
    
    {% if "/evilserver/solved" in unlocked %}
    <a name="team"></a><h2>Team</h2>
    <ul id="rounds">
        <li id="oceans_11" class="{% if "/oceans_11/" in unlocked %}unlocked{% endif %} {% if "/oceans_11/solved" in unlocked %}solved{% endif %}">
        {% if "/oceans_11/" in unlocked %}
            <a href="/oceans_11/">
            {% if "/oceans_11/solved" in unlocked %}
                <img src="/media/img/dannyocean.png"/>
            {% else %}
                <img src="/media/img/dannyocea-silhouette.png"/>
            {% endif %}
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        <div>Danny<br>
        <span class="surname">Ocean</span><br/>
        <span class="sobriquet">The Idea Man</span>
        </div>
            {% if "/oceans_11/" in unlocked %}</a>{% endif %}
        </li>
        <li id="feynman" class="{% if "/feynman/" in unlocked %}unlocked{% endif %} {% if "/feynman/solved" in unlocked %}solved{% endif %}">
        {% if "/feynman/" in unlocked %}
            <a href="/feynman/">
            {% if "/feynman/solved" in unlocked %}
                <img src="/media/img/richardfeynman.png"/>
            {% else %}
                <img src="/media/img/richardfeynman-silhouette.png"/>
            {% endif %}
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        <div>Richard<br>
        <span class="surname">Feynman</span><br/>
        <span class="sobriquet">The Genius</span></div>
            {% if "/feynman/" in unlocked %}</a>{% endif %}
        </li>
        <li id="{% if "/get_smart/is-99" in unlocked %}agent_99{% else %}get_smart{% endif %}" class="{% if "/get_smart/" in unlocked %}unlocked{% endif %} {% if "/get_smart/solved" in unlocked %}solved{% endif %}">
        {% if "/get_smart/" in unlocked %}
            <a href="/get_smart/">
            {% if "/get_smart/is-99" in unlocked %}
                {% if "/get_smart/solved" in unlocked %}
                    <img src="/media/img/agent99.png"/>
                {% else %}
                    <img src="/media/img/agent99-silhouette.png"/>
                {% endif %}
            {% else %}
                <img src="/media/img/agent86-silhouette.png"/>
            {% endif %}
        {% else %}
            <div class="no-image"></div>
        {% endif %}
            <div>
            {% if "/get_smart/is-99" in unlocked %}
                Agent<br>
                <span class="surname">99</span><br/>
            {% else %}
                Maxwell<br>
                <span class="surname">Smart</span><br/>
            {% endif %}
            <span class="sobriquet">The Secret Agent</span>
            </div>
            {% if "/get_smart/" in unlocked %}</a>{% endif %}
        </li>
        <li id="indiana" class="{% if "/indiana/" in unlocked %}unlocked{% endif %} {% if "/indiana/solved" in unlocked %}solved{% endif %}">
        {% if "/indiana/" in unlocked %}
            <a href="/indiana/">
            {% if "/indiana/solved" in unlocked %}
                <img src="/media/img/indianajones.png"/>
            {% else %}
                <img src="/media/img/indianajones-silhouette.png"/>
            {% endif %}
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        <div>Indiana<br>
        <span class="surname">Jones</span><br/>
        <span class="sobriquet">The Adventurer</span></div>
            {% if "/indiana/" in unlocked %}</a>{% endif %}
        </li>
        <li id="sneakers" class="{% if "/sneakers/" in unlocked %}unlocked{% endif %} {% if "/sneakers/solved" in unlocked %}solved{% endif %}">
        {% if "/sneakers/" in unlocked %}
            <a href="/sneakers/">
            {% if "/sneakers/solved" in unlocked %}
                <img src="/media/img/martinbishop.png"/>
            {% else %}
                <img src="/media/img/martinbishop-silhouette.png"/>
            {% endif %}
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        <div>Martin<br>
        <span class="surname">Bishop</span><br/>
        <span class="sobriquet">The Hacker</span></div>
            {% if "/sneakers/" in unlocked %}</a>{% endif %}
        </li>
        <li id="rubik" class="{% if "/rubik/" in unlocked %}unlocked{% endif %} {% if "/rubik/solved" in unlocked %}solved{% endif %}">
        {% if "/rubik/" in unlocked %}
            <a href="/rubik/">
            {% if "/rubik/solved" in unlocked %}
                <img src="/media/img/ernorubik.png"/>
            {% else %}
                <img src="/media/img/ernorubik-silhouette.png"/>
            {% endif %}
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        <div>Erno<br>
        <span class="surname">Rubik</span><br/>
        <span class="sobriquet">The Inventor</span></div>
            {% if "/rubik/" in unlocked %}</a>{% endif %}
        </li>
        <div class="clearer"></div>
    </ul>
    <a name="obstacles"></a><h2>Obstacles</h2>
    <ul id="traps" class="">
        <li class="{% if "/oceans_11/solved" in unlocked %}unlocked{% endif %} {% if "/oceans_11/trap/solved" in unlocked %}solved{% endif %}">
        {% if "/oceans_11/solved" in unlocked %}
            <img src="/media/img/traps/guards{% if not "/oceans_11/trap/solved" in unlocked %}-silhouette{% endif %}.png"/>
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        <div>Guards</div></li>
        <li class="{% if "/feynman/solved" in unlocked %}unlocked{% endif %} {% if "/feynman/trap/solved" in unlocked %}solved{% endif %}">
        {% if "/feynman/solved" in unlocked %}
            <img src="/media/img/traps/safe{% if not "/feynman/trap/solved" in unlocked %}-silhouette{% endif %}.png"/>
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        <div>Safe</div></li>
       <li class="{% if "/get_smart/solved" in unlocked %}unlocked{% endif %} {% if "/get_smart/trap/solved" in unlocked %}solved{% endif %}">
        {% if "/get_smart/solved" in unlocked %}
            <img src="/media/img/traps/lasers{% if not "/get_smart/trap/solved" in unlocked %}-silhouette{% endif %}.png"/>
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        <div>Lasers</div></li>
        <li class="{% if "/indiana/solved" in unlocked %}unlocked{% endif %} {% if "/indiana/trap/solved" in unlocked %}solved{% endif %}">
        {% if "/indiana/solved" in unlocked %}
            <img src="/media/img/traps/puzzlebox{% if not "/indiana/trap/solved" in unlocked %}-silhouette{% endif %}.png"/>
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        <div>Lockbox</div></li>
        <li class="{% if "/sneakers/solved" in unlocked %}unlocked{% endif %} {% if "/sneakers/trap/solved" in unlocked %}solved{% endif %}">
        {% if "/sneakers/solved" in unlocked %}
            <img src="/media/img/traps/door{% if not "/sneakers/trap/solved" in unlocked %}-silhouette{% endif %}.png"/>
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        <div>Impenetrable Door</div></li>
        <li class="{% if "/rubik/solved" in unlocked %}unlocked{% endif %} {% if "/rubik/trap_solved" in unlocked %}solved{% endif %}">
        {% if "/rubik/solved" in unlocked %}
            <img src="/media/img/traps/keypad{% if not "/rubik/trap_solved" in unlocked %}-silhouette{% endif %}.png"/>
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        <div>Keypad</div></li>
        <div class="clearer"></div>
    </ul>
    {% endif %}

    <a name="notes"></a><h2>Notes</h2>
    <ul id="notes">
        {%  if hunt.notes.agent_99_note.is_unlocked %}
            <li><a href="{{ hunt.urls.note.agent_99_memo }}">Memo from Agent 99</a></li>
        {% endif %}
        {%  if hunt.notes.evilserver_round_note.is_unlocked %}
            <li><a href="/notes/heist_plan/">Heist Plan</a></li>
        {% endif %}
        {%  if hunt.notes.evilserver_ceremony_note.is_unlocked %}
            <li><a href="/notes/the_situation/">Opening Ceremony</a></li>
        {% endif %}
        <div class="clearer"></div>
    </ul>
    <a href="http://www.enigmavalley.com/">Enigma Valley Investment & Loan server</a>
</div>
{% endblock content %}

{% block footer %}<!--- Safe graphic based on Safe by ???, from The Noun Project, licensed CC-BY --->{% endblock %}
