
{% extends "feynman/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Funny Story{% endblock %}

{% block extra_head %}

{% endblock %}

{% block body %}
<p>Farmer John's
crops were failing. His wheat fell victim to blight, his cornstalks refused to
sprout, and his prize pumpkins, normally the largest in town, lost the annual
fair for the first time in decades. He needed help.</p>&#13;
&#13;
<p>Farmer John
visited a botanist. "You need to go water your plants," the botanist
said, "but the water shouldn't be too cold, or too hot. And you should
neither give them too much, nor too little." Farmer John returned to his
fields and attempted to follow the botanist's advice to the letter, but no
matter how lukewarm the water was and how moderate its amount, his crops would
not get better.</p>&#13;
&#13;
<p>Next, Farmer John
visited a behavioral psychologist. "You need to apply operant conditioning
to your plants," the psychologist said. "Give them rewards for good
behavior and punish bad behavior. So, water them if they grow, but refuse to
give them any water if they don't." Farmer John tried the psychologist's
tactics, but still, his crops did not get better.</p>&#13;
&#13;
&#13;
&#13;
<p>Farmer John asked
a lawyer for help. The lawyer offered to draw up a contract for the plants to
agree to that would legally compel them to grow, but the crops didn't sign when
he left the paper in front of them. Farmer John asked his mother, who said to
give his plants unconditional love. Farmer John even asked a physicist, who
started to say "Well, consider a spherical cornstalk," before Farmer
John refused to hear any more and left. Even still, Farmer John's crops did not
get better.</p>&#13;
&#13;
&#13;
&#13;
<p>Desperate, Farmer
John visited the church, even though he was not a religious man. He explained
everything he had gone through to the vicar and begged for help.</p>&#13;
&#13;
&#13;
&#13;
<p>"Bring me
your dirt," the vicar said.</p>&#13;
&#13;
&#13;
&#13;
<p>"Bring
you... my dirt?" said Farmer John, taken aback.</p>&#13;
&#13;
&#13;
&#13;
<p>"Yes. Go and
bring me your dirt." </p>&#13;
&#13;
&#13;
&#13;
<p>Farmer John
thought that this sounded absurd, but to be fair, he had been given stranger
advice in the past months, so he returned to his farm, shoveled the dirt from
his cornfield, the dirt from his wheat field, and the dirt from his pumpkin
patch into a very large cart, and brought it to the vicar, who stared at it. </p>&#13;
&#13;
&#13;
&#13;
<p>"You can
take the dirt back," said the vicar after some time.</p>&#13;
&#13;
&#13;
&#13;
<p>"That's
it?" asked Farmer John. "You're not going to sprinkle it with holy
water? You're not going to exorcise it or convert it to Christianity? You won't
ask it to recite the Lord's prayer?"</p>&#13;
&#13;
&#13;
&#13;
<p>"That's
it," said the vicar. Farmer John, very bewildered, brought the dirt back
to his farm and shoveled it back onto his fields. And though he could never
figure out why, from that point on, his crops grew quickly and his harvests
were bountiful, and he won the annual pumpkin contest from then on.</p>&#13;
&#13;
&#13;
&#13;
<p>Moral: (2 3 5 2 3
5)</p>&#13;
&#13;
&#13;
&#13;
<hr><p>At a gathering of
all his noblemen in the middle of a famine, a much-feared king announced that
the tribute of grain he needed from them was to double. All his lords, dukes,
barons, and almost all of his counts stayed silent, wary of the king's wrath.
However, the king's favorite count, with whom he often feasted and went hunting,
stood and objected. The count shouted to the room that the little grain left
was worth too much to give up, that the tax was unfair, and that he would not
pay it. The king had him thrown in the dungeons and soon visited him there.</p>&#13;
&#13;
&#13;
&#13;
<p>"I can't let
you defy me before all the noblemen," the king said. "The other
noblemen would no longer fear me. They would band together and rebel, replacing
me with some duke who wants my throne. If you don't acquiesce to the grain tax,
I'll have to have you executed. Is this worth your life?"</p>&#13;
&#13;
&#13;
&#13;
<p>"Is our
friendship is worth so little?" the count asked. "I have known you
for many, many, years, and you wouldn't kill me."</p>&#13;
&#13;
&#13;
&#13;
<p>"Our
friendship is worth much," the king said, "but it's not worth risking
my kingdom." He signaled to the guards. They brought the count out to the
public square, putting his neck on the chopping block. A hooded executioner
raised a huge hatchet over his head, and when the king nodded, began to swing
it down.</p>&#13;
&#13;
&#13;
&#13;
<p>"I'll pay!
I'll pay!" the count shouted at the last second. The king quickly shouted
at the executioner to stop. But it was too late, and the count's head was
cleaved from his body.</p>&#13;
&#13;
&#13;
&#13;
<p>Moral: (4 7 4 6 6
4 7)</p>&#13;
&#13;
&#13;
&#13;
<hr><p>Living on a
nuclear submarine is always exciting. Especially when your best friend starts
going insane.</p>&#13;
&#13;
&#13;
&#13;
<p>"THE
RUSSIANS ARE ATTACKING!" yelled Nate "WE'VE GOTTA STOP THEM,
KILROY!"</p>&#13;
&#13;
&#13;
&#13;
<p>Kilroy looked up
from his simple meal, mildly puzzled by Nate's overreaction. There were no
alarms going off, no emergency red lights, just him, Nate and their meager
dinner.</p>&#13;
&#13;
&#13;
&#13;
<p>"They've
mounted an attack on the capital," Nate muttered to himself, casting
sidelong glances all over the sub's machinery, "The calls will soon come
to return to port, but it'll be a trap... yes yes"</p>&#13;
&#13;
&#13;
&#13;
<p>Kilroy approached
his friend cautiously. When Kilroy had just been a lowly midshipsman, Nate had
taken him under his wing and taught him how to be tough and deal with the
pressures and pains of the military. But now, it seemed that Nate himself had succumbed
to those pressures. </p>&#13;
&#13;
&#13;
&#13;
<p>Kilroy had barely
raised a comforting hand to Nate's shoulder when Nate spun around wild-eyed.
"YOU! YOU'RE PART OF THEIR SPY NETWORK, AREN'T YOU? WELL YOU'LL NEVER TAKE
ME ALIVE!!"</p>&#13;
&#13;
&#13;
&#13;
<p>Nate suddenly ran
off with Kilroy chasing after him. At first, Kilroy hoped that he could just
contain his friend, but as the chase turned towards the nuclear heart of the
vessel, his heart sank. When Kilroy finally caught up, he saw Nate trying to
pull the EMERGENCY: NUCLEAR METLDOWN lever.</p>&#13;
&#13;
&#13;
&#13;
<p>"I'm sorry,
Nate," Kilroy whispered, drawing his service pistol out slowly, "It
pains me to do this, but I just can't let you pull that lever."</p>&#13;
&#13;
&#13;
&#13;
<p>There was a flash
of light and then silence.</p>&#13;
&#13;
&#13;
&#13;
<p>Moral: (6 4 4 5)</p>&#13;
&#13;
<hr><p>The whole town
was abuzz about the grand opening of the new tapas bar, and the local food
critic was the first in line on opening day. Since the chef was totally new to
the restaurant industry, the critic had no idea what his cooking style was like
and was excited to be the first to set his reputation down.</p>&#13;
&#13;
&#13;
&#13;
<p>Once the doors
opened, the food critic was seated by the chef's brother, a fact that he
repeated countless times to her. At first, she acted amiably towards him,
trying to curry favor with the cook, but quickly realized that the brother had
no sense of taste or class. She furiously scribbled her angry observations
about his lack of food appreciation. </p>&#13;
&#13;
&#13;
&#13;
<p>"What an
uncultured boor," she wrote as she watched the man try to stow some of the
nicer silverware down his pants leg. "Please, don't," she thought, as
he belched loudly after swigging a giant bottle of soda. "Has he even set
foot in a restaurant before?" She soon began to worry about her own fate:
"If this is the chef's brother, what kind of monstrosity am I going to
have for dinner?"</p>&#13;
&#13;
&#13;
&#13;
<p>When the food
finally came, she sniffed snootily at it before finally deigning to take a
small nibble. As soon as she took one bite of the shrimp, all of her
preconceptions were blown out of the water. The cook was nothing like his
brother - all of the nuance and flavor he had packed into that one shrimp
represented the complete antithesis of his brother's crude actions.</p>&#13;
&#13;
&#13;
&#13;
<p>Moral: (4 5 1 4 2
3 7)</p>&#13;
&#13;
&#13;
&#13;
<hr><p>Tensions ran high
at last year's Moovision Song Contest. This was the last chance for the Bovine
Bachelor to prove to the Moovision judge that he was the superior singing act.
It seemed to the Bovine Bachelor that the judge only crowned the Dairy Duet
champion because of the Duet's family friendship with the Bush family, not by
their actual music ability. But how could the Bovine Bachelor fight against
this favoritism?</p>&#13;
&#13;
&#13;
&#13;
<p>In the last few
nights before the competition, the Bovine Bachelor finally found how to improve
his performance. "If it is preferable to have two cows singing over one
cow," the Bachelor thought, "then if I incorporated a whole herd of
cows in my act, the judge would be totally wowed!" The Bachelor posted
several fliers around town and recruited enough musically gifted cows to rename
his group "The Bovine Band."</p>&#13;
&#13;
&#13;
&#13;
<p>The plan worked!
The Bovine Band gave such a stunning performance that the judge just couldn't
decide whether to reward the Dairy Duet's presidential connections or the
Bovine Band's multi-cow act. After much consultation, the judge decided to
award first place to both groups for the first time in Moovision history.</p>&#13;
&#13;
&#13;
&#13;
<p>Moral: (1 4 2 3 4
2 5 3 2 3 4)</p>&#13;
&#13;
&#13;
&#13;
<hr><p>An upstart
fashion designer was putting the finishing touches on her newest outfit the
afternoon before a fashion show. The look consisted of a cowboy hat, an
aquamarine scarf, a half-plaid, half-paisley dress, and slippers. What it
lacked was one detail: what to go around the waist?</p>&#13;
&#13;
&#13;
&#13;
<p>The designer had
initially considered a simple belt, but that would not do: to impress the
critics, she thought, the thing had to be inventive, and belts had simply been
done to death. The designer tried chains, ropes of various kinds and a silken
sash, but she found none satisfying. She tried a telephone cord, caution tape,
and an oversize lampshade, but none had the spark she was looking for.</p>&#13;
&#13;
&#13;
&#13;
<p>After many hours,
the designer visited the nearest toy store for inspiration. She searched the
aisles, looking for something, anything that would do. A stuffed animal
rattlesnake? No, snakeskin was out until next season at least, so that would
not do. A Thomas the Tank Engine wooden train? Never mind, the tracks it would
go on made an awful contrast with the dress. Finally, the designer settled on
the perfect thing to wrap around the waist: a rubber chicken. Everyone knew
rubber was sexy, after all.</p>&#13;
&#13;
&#13;
&#13;
<p>That night, as a
model walked down the runway wearing the designer's outfit, complete with faux
fowl, the crowd gasped in shock. "The other pieces are intriguing,"
said a well-known fashion magazine editor, "but what is that thing around
the waist?" The designer was panned, and her career was suddenly over.</p>&#13;
&#13;
&#13;
&#13;
<p>Moral: (1 5 2 1 8
5 2 4)</p>&#13;
&#13;
&#13;
&#13;
<hr><p>"What did
you bring those here for?" Mrs. Hrmph was shouting.</p>&#13;
&#13;
&#13;
&#13;
<p>"Where else
was I supposed to put them?" Her husband spread his arms sheepishly.</p>&#13;
&#13;
&#13;
&#13;
<p>"You should
have left them! Or sold them! But you shouldn't have brought them here! We'll
need another couple grass houses to put all the junk you keep around."</p>&#13;
&#13;
&#13;
&#13;
<p>Three large
thrones stood in the middle of the small living room. The lanky Mr. Hrmph had
brought one in each hand and one in his teeth. A king's caravan had ridden past
where he was gathering more grass to insulate their roof, and when the thrones
tumbled off he hadn't been able to stop himself. These were real, live thrones!
There were still dozens left! Who would notice? Even if the king did, Mr. Hrmph
thought to himself, he should be glad to share. He shouldn't be greedy.</p>&#13;
&#13;
&#13;
&#13;
<p>"...drags
these useless lumps of wood into my living room, soils the carpet, doesn't even
bring back any grass..." Mrs. Hrmph grumbled as she wove strands into the
wall to cover up a small hole the porcupines had nibbled. Her husband kissed
her gently on the nose.</p>&#13;
&#13;
&#13;
&#13;
<p>"I'll just
put them in the cellar," he said. But when he tried to fit the first ample
throne through the narrow path to the cellar, the legs of the throne punched
through the woven wall, snagged on some blades of grass, and altogether brought
the little grass house down! The roof tore in half and fell in a green mass
over the couple. The two struggled to their feet.</p>&#13;
&#13;
&#13;
&#13;
<p>Just then a
caravan rounded the corner. At the sight of the broken house the king fell off
his horse. "My thrones!" he shouted angrily. "Seize them!"
he ordered his guards, pointing at the people in possession of his stolen
thrones. And the Hrmphs were never heard from again.</p>&#13;
&#13;
&#13;
&#13;
<p>Moral: (6 3 4 2 5
6 8 4 7)</p>&#13;
&#13;
<hr><p>Once I caught an enormously
terrible beast! It was so big that when I tried to lock the monster up, it
would shriek as if hurt. I tried to shove it into a locker, but the creature
yelped when I slammed the door on its toe. When I set up an electric fence, the
behemoth yowled in agony. Even when I placed the leviathan in a padded room, it
still somehow injured itself enough to cry out with terrible anguish. No matter
where I tried to put it, the monster's distressed roars would cascade down the
hall, making me feel really terrible about capturing it in the first place.</p>&#13;
&#13;
&#13;
&#13;
<p>Moral: (4 2 5, 2
5)</p>&#13;
&#13;
&#13;
&#13;

{% endblock %}