{% extends 'hunt_central_base.html' %}

{% block header %}{% endblock header %}

{% block content %}

<div id="splash">
    <img src="/static/img/poster.png"/>
</div>
<div id="frontpage-text">
    <h1><a href="{% url home %}">COINHEIST</a></h1>
    <h2>Team</h2>
    <ul id="rounds">
        <li><a href="{% url round "opening" %}">{{ team.name }}</a></li>
        <li><a href="{% url round "sneakers" %}">Martin Bishop</a></li>
        <li><a href="">Richard Feynman</a></li>
        <li><a href="">Max Smart</a></li>
        <li><a href="">Danny Ocean</a></li>
    </ul>
    <h2>EvilBank Traps</h2>
    <ul class="checklist">
        <li class="checked">Locked Safe</li>
        <li class="checked">Firewall</li>
        <li>Laser Maze</li>
        <li>Snake Pit</li>
        <li class="checked">Game of Chance</li>
        <li>Puzzle Box</li>
    </ul>
    <h2>Notes</h2>
    <ul id="notes">
        <li><a href="{% url note "the_situation" %}">The Situation</a></li>
    </ul>
</div>
{% endblock content %}
