{% extends 'hunt_central_base.html' %}

{% block header %}<h1><a href="{% url home %}">COIN<span class="heist">HEIST</span></a></h1>{% endblock header %}

{% block content %}
<div id="frontpage">
    
    {% if evilserver.is_solved %}
    <h2>Team</h2>
    <ul id="rounds">
        <li id="oceans_11" class="{% if oceans_11.is_unlocked %}unlocked{% endif %} {% if oceans_11.is_solved %}solved{% endif %}">
        {% if oceans_11.is_unlocked %}
            <a href="{% url round "oceans_11" %}">
            {% if oceans_11.is_solved %}
                <img src="/static/img/dannyocean.png"/>
            {% else %}
                <img src="/static/img/dannyocea-silhouette.png"/>
            {% endif %}
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        <div>Danny<br>
        <span class="surname">Ocean</span><br/>
        <span class="sobriquet">The Idea Man</span>
        </div>
            {% if oceans_11.is_unlocked %}</a>{% endif %}
        </li>
        <li id="feynman" class="{% if feynman.is_unlocked %}unlocked{% endif %} {% if feynman.is_solved %}solved{% endif %}">
        {% if feynman.is_unlocked %}
            <a href="{% url round "feynman" %}">
            {% if feynman.is_solved %}
                <img src="/static/img/richardfeynman.png"/>
            {% else %}
                <img src="/static/img/richardfeynman-silhouette.png"/>
            {% endif %}
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        <div>Richard<br>
        <span class="surname">Feynman</span><br/>
        <span class="sobriquet">The Genius</span></div>
            {% if feynman.is_unlocked %}</a>{% endif %}
        </li>
        <li id="{% if get_smart.is_99 %}agent_99{% else %}get_smart{% endif %}" class="{% if get_smart.is_unlocked %}unlocked{% endif %} {% if get_smart.is_solved %}solved{% endif %}">
        {% if get_smart.is_unlocked %}
            <a href="{% url round "get_smart" %}">
            {% if get_smart.is_99 %}
                {% if get_smart.is_solved %}
                    <img src="/static/img/agent99.png"/>
                {% else %}
                    <img src="/static/img/agent99-silhouette.png"/>
                {% endif %}
            {% else %}
                <img src="/static/img/agent86-silhouette.png"/>
            {% endif %}
        {% else %}
            <div class="no-image"></div>
        {% endif %}
            <div>
            {% if get_smart.is_99 %}
                Agent<br>
                <span class="surname">99</span><br/>
            {% else %}
                Maxwell<br>
                <span class="surname">Smart</span><br/>
            {% endif %}
            <span class="sobriquet">The Secret Agent</span>
            </div>
            {% if get_smart.is_unlocked %}</a>{% endif %}
        </li>
        <li id="indiana" class="{% if indiana.is_unlocked %}unlocked{% endif %} {% if indiana.is_solved %}solved{% endif %}">
        {% if indiana.is_unlocked %}
            <a href="{% url round "indiana" %}">
            {% if indiana.is_solved %}
                <img src="/static/img/indianajones.png"/>
            {% else %}
                <img src="/static/img/indianajones-silhouette.png"/>
            {% endif %}
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        <div>Indiana<br>
        <span class="surname">Jones</span><br/>
        <span class="sobriquet">The Adventurer</span></div>
            {% if indiana.is_unlocked %}</a>{% endif %}
        </li>
        <li id="sneakers" class="{% if sneakers.is_unlocked %}unlocked{% endif %} {% if sneakers.is_solved %}solved{% endif %}">
        {% if sneakers.is_unlocked %}
            <a href="{% url round "sneakers" %}">
            {% if sneakers.is_solved %}
                <img src="/static/img/martinbishop.png"/>
            {% else %}
                <img src="/static/img/martinbishop-silhouette.png"/>
            {% endif %}
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        <div>Martin<br>
        <span class="surname">Bishop</span><br/>
        <span class="sobriquet">The Hacker</span></div>
            {% if sneakers.is_unlocked %}</a>{% endif %}
        </li>
        <li id="rubik" class="{% if rubik.is_unlocked %}unlocked{% endif %} {% if rubik.is_solved %}solved{% endif %}">
        {% if rubik.is_unlocked %}
            <a href="{% url round "rubik" %}">
            {% if rubik.is_solved %}
                <img src="/static/img/ernorubik.png"/>
            {% else %}
                <img src="/static/img/ernorubik-silhouette.png"/>
            {% endif %}
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        <div>Erno<br>
        <span class="surname">Rubik</span><br/>
        <span class="sobriquet">The Inventor</span></div>
            {% if rubik.is_unlocked %}</a>{% endif %}
        </li>
        <div class="clearer"></div>
    </ul>
    <h2>Obstacles</h2>
    <ul id="traps" class="">
        <li class="{% if oceans_11.is_solved %}unlocked{% endif %} {% if oceans_11.trap_solved %}solved{% endif %}">
        <img src="/static/img/indianajones_2.png"/>
        <div>Guards</div></li>
        <li class="{% if feynman.is_solved %}unlocked{% endif %} {% if feynman.trap_solved %}solved{% endif %}">
        <img src="/static/img/indianajones_2.png"/>
        <div>Safe</div></li>
       <li class="{% if get_smart.is_solved %}unlocked{% endif %} {% if get_smart.trap_solved %}solved{% endif %}">
        <img src="/static/img/indianajones_2.png"/>
        <div>Lasers</div></li>
        <li class="{% if indiana.is_solved %}unlocked{% endif %} {% if indiana.trap_solved %}solved{% endif %}">
        <img src="/static/img/indianajones_2.png"/>
        <div>Lockbox</div></li>
        <li class="{% if sneakers.is_solved %}unlocked{% endif %} {% if sneakers.trap_solved %}solved{% endif %}">
        <img src="/static/img/indianajones_2.png"/>
        <div>Impenetrable Door</div></li>
        <li class="{% if rubik.is_solved %}unlocked{% endif %} {% if rubik.trap_solved %}solved{% endif %}">
        <img src="/static/img/indianajones_2.png"/>
        <div>Keypad</div></li>
        <div class="clearer"></div>
    </ul>
    {% endif %}
    
    <h2>Notes</h2>
    <ul id="notes">
        <li><a href="{% url note "the_situation" %}">Opening Ceremony</a></li>
        <div class="clearer"></div>
    </ul>
    <a href="{% url round "opening" %}">Enigma Valley Investment & Loan server</a>
</div>
{% endblock content %}
