{% extends "_/no_fixnav.html" %}

{% block page_title %}Enigma Valley Investment and Loan Intranet{% endblock %}

{% block more_styles %}
    <link rel="stylesheet/less" type="text/css" media="all" href="/static/less/enigmavalley.less" />
{% endblock %}

{% block body_id %}enigmavalley{% endblock %}

{% block header %}
<a href="/enigmavalley/"><img src="/static/img/evillogo.png" align="left"/><h1>Enigma Valley Investment & Loan</h1></a>
<h2>Corporate Intranet</h2>
{% endblock header %}

{% block nav_links %}
            <li><a href="/enigmavalley/">Home</a></li>
            <li><strong><a href="">Call In Answer</a></strong></li>
            <li><strong><a href="/enigmavalley/contact/index.html" id="contact-hq-link">Contact HQ</a></strong></li>{% endblock nav_links %}
