
{% extends "rubik/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Something in Common{% endblock %}

{% block body %}
<div><hr><p>
While everyone was discussing which color to paint the room, the counselor was dreaming about a real chocolate sundae. A walk-in walked into the reception in honor of a regular phenomenon visible every four hours or so. The client just wanted to find his dog in order to provide a permanent shortcut to another part of space; instead, he found something else. 
</p>

<p>
The Federation didn't want to buy a lemon, so their lawyer used a spider to type the password. They discovered that the creatures glow in the dark and the perceptive negotiator won the bid. While they were waiting for the results of the shuttle trip, they turned the lights off to hunt them. The bird-like sounds were coming from under the floor. They used alcohol to save the woman's life, which was a big mistake. She refused to be his conscience, instead she used her new untapped power of light to save the world; she already had a job as a counselor.
</p>

<hr><p>
Their daughter disappeared two months ago, whereas they needed to keep the wounded survivor steady. The African activist was kidnapped by rebels when she was a teenager. While some people were building a boat on the beach, she escaped from her kidnappers. He said that the reward had been withdrawn to eliminate the financial incentive to lie. They needed to perform a blood transfusion, but they didn't have the proper instruments. By his false statement, he removed over-claimers: people lying to get attention. He needed to write vows. They read surprise at the unexpected labor in the woods in the boy's face. It was clear that the boy had never looked into the backpack. 
</p>

<p>
She described horrors she had seen: rape, torture, massacres carried out by child soldiers, the doctor losing his own blood to help the wounded survivor. There was no deception leakage, but she seemed anxious, so the doctor couldn't go and deliver the baby. They needed to find the other girl before noon, and the crushed leg made blood transfusion impractical. His vows were self-referential. He talked about how he couldn't write the vows. While the doctor played 20 questions one man died and another was born. The girl wasn't answering, but the doctor read her micro-expressions. The writer touched her ear and exposed her lies. At the end the doctor suspected murder, and the book was withdrawn.
</p>

<hr><p>
She took pictures in an abandoned house and jumped off the roof. Two girls came back to investigate. He was surprised by a basket of cookies and a statue that was in the wrong place. A new drug hit the streets making people see things, like old pictures of a woman who looked exactly like her friend. He started seeing his dead father: when people die in the past, they produce energy in the present. 
</p>

<p>
They were the two most powerful people on the planet. For wedding preparations she got a list of 17 DVDs. His partner started hallucinating about her ex. People do not understand time. Naomi's ability caused all this mess: the box left them behind. The only place where she didn't use gloves was her garden. The dinner guests tried her chicken, and, as a consequence, they were stuck looking at each other forever. The drugged cookies were a gift to help resolve their issues. Because of that, she gave him the shorthand transcripts to complete the cycle.
</p>

<hr><p>
Did she fall asleep while they were discussing the dead boy's name? The price tag was exorbitant for a witness to identify the defendant. The woman would be everything he wanted and needed. She was a security guard chewing gum. The witness changed her testimony: they went to the woods and were water-rafting, rock-climbing, and arrow-shooting. As she was not the first girl he brought to the woods, the jury gave a verdict of "Not Guilty."
</p>

<p>
The detective was in court, though it wasn't his case. She needed to stop talking and start running. Shit always rolls downhill. Poisoned water made her see things she was not supposed to remember like a shitty orange couch outside. In spite of the background check the client was a psychopath who was moved from uptown to the fucking low-rises. Shoulder to the wheel. Dead witness, mother-fucker.
</p>

<hr><p>
A little girl was humming about the dark side. The Wicca group was boring, and the new invention was making whooshing sounds. While a laryngitis epidemic took over the town, the noise-eater got turned on by accident. 
</p>

<p>
The princess's scream would kill the monsters, while the monster machine killed its own remote control. She and her future boyfriend discovered each other's secrets. The dark side is waiting.
</p>

<hr><p>
The experiment in the gay club was very important to him. He was a semi-cute boy-next-door type and his shuttle trip was supposed to be easy. There is more to a guy than cock size, and he was being pulled. He was injected with something and started to understand everyone. They were a bald priestess and a warrior with a very nice butt. They offered you a discount if you bought the butt and the bulge together. 
</p>

<p>
They were approaching a commerce planet in Pennsylvania. They escaped and were standing on the roof of a hospital. She was sending a transmission, while the older man was running his tongue along the young man's spine. The girl tried to protect him, believing his story, but was arrested for contamination. Fuck. He had a baby, two babies. He distracted the guards with a puzzle ring. And while they were painting his black car with a pink derogatory word, they escaped. 
</p>

<hr><p>
He was drinking before operating on his fianc&#233;e. What kind of a father kills people? Tonight was the night he would finally sleep, and drinking was the only way for him to stop his hands from shaking. The limo driver kidnapped him while she watched herself die in the mirror. While being sleep-deprived he conducted a test. Nothing was wrong, except he brought the wrong documents to court. The criminal walked, but, unexpectedly, he couldn't feel his leg and couldn't walk anymore. There was a lot of blood and the body was not filtering iodine. He took a picture of the actor falling into a coma with his blood-spatter camera.
</p>

<p>
His girlfriend wanted to buy a firm mattress to have sex. He preferred to sleep on a water-bed and told the secret of his bloody hobby to his baby. It was not an infection, it was an allergy, so he changed his plan of where to grab the victim. The case was solved because of the bubbles in the glass. He was killing for his son now. The patient was indeed allergic and crashed his car.
</p>

<hr><p>
The woman died two weeks ago, but her car accident was yesterday. There was so much blood and, for some reason, ice. Jane Doe wasn't the girl's sister. Melting speed and surface tension could help the calculation. They came to pay their respects but the celebration was postponed. They brought personal effects to drop off. If the couple's daughter was like their mother, then they themselves were like their grandparents. The idea to ask the grandmother resulted in a kiss. 
</p>

<p>
Their planet had been on the verge of a golden age, then everything fell apart. She brought some clothes, a toothbrush, shampoo and some other things to the detention center. "Don't let the history repeat itself," the worshiper of the second in command said. She didn't know what the red string was for. The teen's sister told him stories about another galaxy, and the war and the algorithm that might find the dead man's favorite coffee place and, consequently, solve the case. The kidney operation was in a hotel. They didn't expect to see the body, but there it was. She touched the body to reveal emptiness inside. At the end they gathered in his house for dinner as usual. He had to save Courtney's future body before everything blew up and put the red sticker on his license. 
</p>

<hr><p>
After retirement, he came back to an unsolved murder case; he remembered a kiss in flashbacks. He drove to the lake where the accidental drowning happened. He lured everyone involved to the lake, and, after having sex, he told her that he wanted a real marriage. They wanted their child to be born on the new planet. The doctor was one of the suspects. The couple was already in the cabin, and he doubted that he was the one who she really wanted. 
</p>

<p>
The young man was murdered, and everyone thought that the detective was the real target. The man went to look for sneakers during the boxing match. The nosy lady-writer dropped names to persuade the sheriff to look into the cabin. The admiral challenged the chief to join him in the ring. They didn't find the sneakers, and they shouted this to the skies. The lady solved the murder, as usual, while the boxing match became too personal and people started leaving.
</p>

<hr></div>
{% endblock %}