
{% extends "get_smart/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Wordplay{% endblock %}

{% block extra_head %}

{% endblock %}

{% block body %}
<hr><ul><li>Plenty enough army police drown in beer (5)</li>
<li>Refreshing juice with no identification fixes infection fighting tissue (7)</li>
<li>Composition 101: add up backwards (5)</li>
<li>World cup organizer's payoff if all outsiders knocked out (4)</li>
</ul><hr><ul><li>Erectile dysfunction after sweet chick chirped (6)</li>
<li>Agreement in Barcelona upon returning six Spanish-Japanese immigrants (6)</li>
<li>Charge or no charge, rotten root must be extracted (3)</li>
<li>California spooks follow a plant (6)</li>
<li>They are saucy dances (6)</li>
<li>Rolls being invested in ale cadre evens out debt (6)</li>
</ul><hr><ul><li>Rejected trouser-trunks portmanteau for clothing amalgam (5)</li>
<li>Bond eats meaty remnant to be athletic (6)</li>
<li>Egg owl finally transported in sky thrown back, revealing egg insides (5)</li>
<li>Muscle car lacks air-conditioning, with nothing added - a minor fault (10)</li>
<li>Eliminate complications, but essentially debunk nothing (6)</li>
<li>With a healthy glow, according to the audience at the back of the theater? (4)</li>
</ul><hr><ul><li>Hardy heroine secures heart of Martian with alien sample data (4,3)</li>
<li>Nabokov writing half displayed amusement (3)</li>
<li>Number of commandments and Latin dogma (5)</li>
<li>Indian language "Layla" and "Mama" bombed (9)</li>
</ul><hr><ul><li>Need increase in workforce - someone who could use a lift? (10)</li>
<li>CSAIL professor's shoe found in Alaska by heads of KAOS (8)</li>
<li>Jam on street, one where Yogi lives (10) </li>
<li>Existentialist's dark creation comsuming curious Greek AI (11)</li>
<li>Hetfield &amp; co processed late claim (9)</li>
<li>Overheard mother's stringent treaty (10) </li>
<li>From Berlin, humanity and humankind's peak, drunkenly reported (10)</li>
</ul><hr><ul><li>Math contest ambition: to get a point (4)</li>
<li>Small hole in Romney economy (3)</li>
<li>Strangely frightening l-lake (5)</li>
<li>Stricter Somali sea agenda ends with pirate hunters (4)</li>
<li>Energetic hula with hoop to kick off start of luau on Hawaiian island (4)</li>
<li>In Tahoe, I saw a place with parades of numbers (4)</li>
</ul><hr>
{% endblock %}