{% extends "get_smart/_/base.html" %}

{% block body_id %}mainbg{% endblock %}

{% block body_class %}bg{% endblock %}

{% block header %}
    <div id="mainbar1" class="bar bar1"></div>
    <div id="bar2" class="bar"></div>
{% endblock %}

{% block content %}
    <div id="maincontainer" class="container">
        <div id="right">
            <div id="mainheader" class="header">
                Surveillance Missions
            </div>
            
            <div id="maincontent" class="content">
                <ul id="agentlist" class="puzzle-list">
                    <li><img src="camera.png"></img><a href="sample-puzzle/">Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Another Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Wow, Some Puzzle Names</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Harder Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"></img><a href="evil.html">Evil page</a></li>
                </ul>
            </div>
        </div>

        <div id="left">
            <div id="video">
                <img src="frame.png">
            </div>
        </div>

    </div> 
{% endblock %}
