{% extends "get_smart/_/base.html" %}

{% block body_id %}mainbg{% endblock %}

{% block body_class %}bg{% endblock %}

{% block header %}
    <div id="mainbar1" class="bar bar1"></div>
    <div id="bar2" class="bar"></div>
{% endblock %}

{% block content %}
    <div id="maincontainer" class="container">
        <div id="right">
            <div id="mainheader" class="header">
                Surveillance Missions
            </div>
            
            <div id="maincontent" class="content">
                <ul id="agentlist" class="puzzle-list">
                    {% if "/sneakers/puzzle/unlocked" in unlocked %}<li {% if "/get_smart/puzzle/solved" in solved %}class="solved"{% endif %}>{% if "/get_smart/puzzle/solved" in solved %}<img src="camera.png">{% endif %}<a href="/get_smart/sample-puzzle/">Puzzle Name</a></li>{% endif %}
                    {% if "/sneakers/puzzle/unlocked" in unlocked %}<li {% if "/get_smart/puzzle/solved" in solved %}class="solved"{% endif %}>{% if "/get_smart/puzzle/solved" in solved %}<img src="camera.png">{% endif %}<a href="/get_smart/sample-puzzle/">Another Puzzle Name</a></li>{% endif %}
                    {% if "/sneakers/puzzle/unlocked" in unlocked %}<li {% if "/get_smart/puzzle/solved" in solved %}class="solved"{% endif %}>{% if "/get_smart/puzzle/solved" in solved %}<img src="camera.png">{% endif %}<a href="/get_smart/sample-puzzle/">Wow, Some Puzzle Names</a></li>{% endif %}
                    {% if "/sneakers/puzzle/unlocked" in unlocked %}<li><img src="camera.png"><a href="puzzle.html">Harder Puzzle Name</a></li>{% endif %}
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li>
                    <li><img src="camera.png"><a href="puzzle.html">Your Favorite Puzzle Name</a></li><br/>
                    {% if "/sneakers/puzzle/unlocked" in unlocked %}<li><a href="evil.html">Recovered meeting agenda</a></li>{% endif %}
                </ul>
            </div>
        </div>

        <div id="left">
            <div id="video">
                <img src="frame.png">
            </div>
        </div>

    </div> 
{% endblock %}
