
{% extends "indiana/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Quizbowl{% endblock %}

{% block body %}
<p>Thank you for moderating our Quizbowl tournament! You can find the packet for round one <a href="/indiana/beta_quizbowl/2013%20Quizbowl%20tournament%20RND%20one.pdf">here</a>.
<br><br>
I've marked some places in the packet where you might want to take short breaks. In one game, a team had already won after only 12 tossups, so taking early breaks might be important.
<br><br>
Also, remember that if a team ever gives multiple answers, you should take the first one!</p>
{% endblock %}