#feynman {
    background-image: url('/static/img/feynman.jpg');
    
    #container {
        width: 900px;
        background: rgba(255,255,255,.5);
        margin: 0 0 0 30px;
        padding: 0 20px;
    }
    
    h1 {
        font-size: 3em;
    }
}
