@font-face {
    name: 'League Gothic';
    src: url('static/fonts/leaguegothic-regular-webfont.ttf');
}

body {
    background-color: #fbfbfb;
    color: black;
    
    margin: 0;
    padding: 0;
    
    font-size: 15pt;
    font-family: 'Crete Round', Palatino, serif;
    
    a {
        color: #cf0012;
        color: gold;
        
        &:hover { 
            color: #af0010; 
        }
    }
    
    h1, h2, h3, #rounds, #traps {
        font-family: 'League Gothic', ChunkFive, Bodoni, serif;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 2em;
    }
    
    h1 {
        font-size: 4em;
        color: black;
        margin: 0;
        padding:  20px 0 10px 0;
        margin-top: -1px;
        
        .heist {
            color: gold;
        }
        
        a {
            color: black;
            text-decoration: none;
        }
        
        a:hover, a:hover .heist {
            color: #af0010;
        }
    }
    
    h2 {
        font-size: 3em;
        margin: 20px 0 5px 0;
    }
    
    #container {
        width: 1100px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    #frontpage {
        padding: 1px 0 20px 20px;
        ul {
            display: block;
            clear: both;
            li {
                display: block;
            }
            
            &#rounds, &#traps {
                margin: 0;
                padding: 0;
                a {
                    text-decoration: none;
                }
                li {
                    display: block;
                    float: left;
                    width: 180px;
                    margin: 0;
                    padding: 0;
                    div {
                        padding: 10px;
                        margin: -10px auto 0 auto;
                        text-align: center;
                        span {
                            padding: 0;
                            line-height: 0.7em;
                        }
                        .surname {
                            font-size: 1.6em;
                            padding: 0;
                            }
                        .sobriquet {
                            font-size: .6em;
                        }
                    }
                    img {
                        width: 100%;
                        height: 200px;
                        background: grey;
                    }
                }
            }
            li, li a {
                color: #aaa;
                &.unlocked, &.unlocked a {
                    color: gold;
                    &.solved, &.solved a {
                        color: black;
                    }
                }
            }
        }
    }
    
    &.contentful #content, &.contentful h1 {
        padding-left: 20px;
        padding-right: 20px;
    }
}
