body {
    background-color: white;
    color: black;
    
    margin: 0;
    padding: 0;
    
    font-size: 15pt;
    font-family: Ubuntu, Helvetica Neue, Helvetica, Verdasans-serif;
    
    a {
        color: #cf0012;
        
        &:hover { 
            color: #af0010; 
        }
    }
    
    h1, h2, h3 {
        font-family: 'Crete Round', Courier, serif;
        text-transform: uppercase;
        font-weight: normal;
    }
    
    h1 {
        font-size: 3.5em;
        background: black;
        color: white;
        margin: 0;
        padding: 10px 0;
        margin-top: -1px;
        border-bottom: 8px solid gold;
        
        a {
            text-decoration: none;
        }
    }
    
    h2 {
        font-size: 1.2em;
    }
    
    #container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    #splash {
        float: left;
        height: 100%;
        max-width: 700px;
        max-height: 1000px;
        background-color: black;
        margin: 0 20px 0 0;
        
        img {
            height: 100%;
            margin: 0 10px 0 5px;
        }
    }
    
    #frontpage-text {
        padding: 1px 0 20px 20px;
        ul {
            padding-left: 20px;
            margin-bottom: 40px;
            li {
                margin-left: 20px;
                display: block;
            }
            &.checklist {
                li:before {
                    content: "&nbsp;";
                    padding: 12px;
                }
                li.checked {
                    padding: 0;
                    &:before {
                        content: "✓";
                        margin: 6px;
                    }
                }
            }
        }
        #rounds a {
            text-decoration: none;
            font-family: 'Crete Round', serif;
        }
    }
}
