#indiana {
    background: #000 url('/static/img/indiana/country-road.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    
    font-family: Palatino, New York, Century Schoolbook, Times, serif;
    font-size: 14pt;

    &.map1 {
        background: #000 url('/static/img/indiana/rainforest.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &.map2 {
        background: #000 url('/static/img/indiana/mountain-snow.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &.map3 {
        background: #000 url('/static/img/indiana/savanna.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #container {
        width: 1000px;
        margin: 0 auto;
    }
    
    &.puzzle #content {
        margin-top: 20px;
        padding: 30px;
        border-radius: 20px;
        border: 4pt solid #CCCC66;
        border-right: 4pt solid #999933;
        border-bottom: 4pt solid #999933;
        background: #FFFFF0;
        
        h2 {
            font-variant: small-caps;
            font-size: 1.8em;
            margin-top: 0;
        }
    }
}
