
{% extends "feynman/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Integers and Sequence{% endblock %}

{% block body %}
<div><hr><ul><li>(the largest integer <i>n</i> such that there exists there exists a Platonic solid with <i>n</i> vertices, a Platonic solid with <i>n</i> edges, and a Platonic solid with <i>n</i> faces)
</li>
<li>
(the largest two-digit tetrahedral number)/(the smallest value the second smallest angle of a convex hexagon with all integer degrees can have)
</li>
<li>
(the number of positive integers less than 2013 that are divisible by 100, but not divisible by 70)
</li>
<li>
(the number of two-digit numbers that produce a square when summed up with their reverse) &#8901; (the smallest number of weighings on a balance scale that guarantees to find the only fake coin out of 100 identical coins, where the fake coin is lighter than other coins)
</li>
<li>
(the only two digit number <i>n</i> such that 2<sup><i>n</i></sup> ends with <i>n</i>) &#8722; (the second smallest, and conjectured to be the largest, triangular number such that its square is also triangular)
</li>
<li>
(the smallest non-trivial compositorial number that is also a factorial)
</li>
<li>
(the sum of the smallest three positive pronic numbers)
</li>
</ul><hr><ul><li>
(the digit you get when you sum up the digits of 2013<sup>2013</sup> repeatedly until you get a single digit) &#8722; (the greatest common factor of the indices of the Fibonacci numbers divisible by 13)
</li>
<li>
(the largest common divisor of numbers of the form <i>p</i><sup>2</sup> &#8722; 1 for primes <i>p</i> greater than three) &#8722; (the largest sum of digits that can appear on a 12-hour digital clock starting from 1:00 up to 12:59)
</li>
<li>
(the largest Fibonacci number, such that it and all positive Fibonacci numbers less than it are deficient) + (the difference between the sum of all even numbers up to 100 and the sum of all odd numbers up to 100) &#8722; (the first digit of a four-digit square that has the first two digits the same and the last two digits the same)
</li>
<li>
(the smallest integer the fate of whose aliquot sequence is unknown) + (the largest amount of money in cents you can have in American coins without having change for 2 dollars) &#8722; (the repeated number in the aliquot cycle of 95) &#8901; (the second-smallest integer <i>n</i> such that the Russian word for <i>n</i> has <i>n</i> letters)
</li>
<li>
(the smallest positive even integer that's not a totient)
</li>
<li>
(the smallest composite Jacobsthal number) &#8901; (the only digit needed to express the number of diagonals of a convex hendecagon)/(the smallest prime divisor of 13<sup>2013</sup> + 1)
</li>
</ul><hr><ul><li>
(the number of letters in the last name of a famous Russian writer whose year of birth many Russians use to help them memorize the digits of <i>e</i>)
</li>
<li>
(the number of pluses you need to insert in a row of 20 fives so that the sum is 1000)
</li>
<li>
(the number of positive integers less than 2013 such that not all their digits are distinct) &#8722; (the number of four-digit numbers with only odd digits) &#8722; (the largest Fibonacci square) 
</li>
<li>
(the number of positive integers <i>n</i> for which the sum of the <i>n</i> smallest positive integers evenly divides 18<i>n</i>)
</li>
<li>
(the number of trailing zeroes of 2013!) &#8722; (the number of sets in the game of Set such that every feature is different on all three cards) &#8722; (an average speed in miles per hour of a person who drives somewhere with the speed of 420 miles per hour and back, using the same route, with the speed of 210 miles per hour)
</li>
<li>
(the smallest fortunate triangular number)   
</li>
<li>
(the smallest weird number)/(the only prime one less than a cube)
</li>
<li>
(the third most probable product of the numbers showing when two standard six-sided dice are rolled)
</li>
</ul><hr><ul><li>
(the largest integer number of dollars you can't pay if you have an unlimited supply of 9-dollar bills and 13-dollar bills) &#8722; (the positive difference between the two prime numbers that have a unique unit digit)
</li>
<li>
(the largest three-digit primeval number) &#8722; (the largest number of distinct SET cards without a set)
</li>
<li>
(the number conjectured to be the second-largest number such that two to its power has no zeroes) &#8722; (the largest number whose cube has at most two distinct digits and no zeroes)
</li>
<li>
(the number of 5-digit palindromic integers in base 5) + (the only positive integer that is five times the sum of its digits)
</li>
<li>
(the only Fibonacci number that is a double of a prime) + (the only prime <i>p</i> such that <i>p!</i> has <i>p</i> digits) &#8722; (the only fixed point of look-and-say operation)
</li>
<li>
(the only number whose concatenation with itself is prime)
</li>
<li>
(the only positive integer that that differs by 1 from a square and a nonsquare cube) &#8722; (the largest number such that its divisors are each 1 less than a prime)
</li>
<li>
(the smallest admirable number)
</li>
<li>
(the smallest evil untouchable number)
</li>
</ul><hr><ul><li>
(the integer whose standard Roman numeral representation is alphabetically later than all others) &#8722; (the number you get if you divide a three digit number with identical digits by the sum of the digits)
</li>
<li>
(the largest even integer that is not a sum of two abundant numbers) &#8722; (the digit
in the first position where <i>e</i> and &#960; have the same digit)
</li>
<li>
(the number formed by the last two digits of the sum: 1! + 2! + 3! + 4! + . . . + 2013!)
</li>
<li>
(the only positive integer such that if you add to each digit its square and sum over all the digits you get the number itself) + (the largest prime factor of the smallest Carmichael number)
</li>
<li>
(the smallest multi-digit hyperperfect number such that more than half of its digits are the same) &#8722; (the sum of digits that cannot be the last digits of squares) &#8901; (the largest base <i>n</i> in which <i>8n</i> is not written like 80) &#8901; (the smallest positive integer that leaves a remainder of 2 when divided by 3, 4, and 5)
</li>
<li>
(the smallest three-digit brilliant number) &#8722; (the first decimal digit of the number that in hexadecimal gives the house number of Sherlock Holmes)
</li>
<li>
(the sum of the numeric values of the letters of MANIC SAGES) + (the sum of all three-digit numbers you can get by permuting digits 1, 2, and 3) + (the number of two-digit integers divisible by 9) &#8722; (the number of rectangles whose sides are composed of edges of squares of a chess board) 
</li>
</ul><hr><ul><li>
(the number of evil minutes in an hour)
</li>
<li>
(the number of fingers on ten hands) &#8722; (the smallest number such that its square has a digit repeated three times)
</li>
<li>
(the number of ways you can rearrange letters of MANIC)/(the number of ways you can rearrange letters of SAGES)
</li>
<li>
(the smallest perfect number)
</li>
<li>
(the only multi-digit Catalan number with digits in strictly decreasing order)
</li>
</ul><hr><ul><li>
(the largest product of positive integers that sum up to 10) + (the smallest perimeter of a rectangle with integral sides of area 120) &#8722; (the date of the second Thursday in a January that has exactly 4 Mondays and 4 Fridays)
</li>
<li>
(the second-largest number with all distinct digits, such that all the words in its American English representation start with the same letter) + (the largest  square-free composite number that contains exactly the digits 1,2,3,4 in its prime factorization) + (the number of ways you can flip a coin 10 times so that the number of heads is the same as the number of tails) + (the smallest positive integer such that 2 to its power contains 2013 as a substring) + (the sum of five prime numbers formed from the digits 2, 3, 5, 7, 8, 9 where each digit is used exactly once) + (the number of days in a year where the day of the month is odious) + (the sum of the digits whose English spellings' letters' alphanumeric values' sum is the meaning of life) &#8901; (the sum of all prime numbers <i>p</i> such that <i>p</i> + 20 and <i>p</i> + 40 are also prime) + (the first digit of the total number of legal moves of the Black king in chess)
</li>
<li>
(the second-largest three-letter palindrome in Roman numerals)/((the smallest non-prime number not divisible by any of its digits)/(the last digit of 2013<sup>2013</sup>) &#8722; (the digit in position 2013 of the string formed by concatenation of all integers into one stream: 123456789101112...))  &#8722; (the number of days in a year such that the month and the day of the month are simultaneously composite)
</li>
<li>
(the second-smallest cube with only prime digits) &#8901; (the smallest perimeter of a Pythagorean triangle)/(the last digit to appear in the units place of a Fibonacci number) + (the greatest common divisor of the sums in degrees of the interior angles of convex polygons with an even number of sides) + (the number of subsets that you can form from the set {1,2,3,4,5,6,7,8,9} that do not contain two consecutive numbers) &#8722; (the only common digit of 2013 base 8 and base 9)
</li>
</ul><hr></div>
{% endblock %}