{% extends "enigmavalley/_/base.html" %}

{% block content %}
    <table>
    <thead align="left">
        <tr>
            <th>Name</th>
            <th>Answer</th>
        </tr>
    <thead>
    <tbody>
        <tr id="meta" {% if "/enigmavalley/enigmavalley/solved" in unlocked %}class="solved"{% endif %}>
            <td class="first-col">BankSecuritySystem/
                <table>
                    <tr>
                        <td class="first-col"><a href="">Password Reminder</a></td>
                    </tr>
                    <tr>
                        <td class="first-col"><a href="">Security_video.mpg</a>
                    </tr>
                </table>
            </td>
            {% if "/enigmavalley/enigmavalley/solved" in unlocked %}<td>WONTOFORATE</td>{% endif %}
        </tr>
        <tr {% if "/enigmavalley/puzzle_1/solved" in unlocked %}class="solved"{% endif %}>
            <td class="first-col"><a href="">Welcome!</a></td>
            {% if "/enigmavalley/puzzle_1/solved" in unlocked %}<td> puzzle_1.answer</td>{% endif %}
        </tr>
        <tr {% if "/enigmavalley/puzzle_2/solved" in unlocked %}class="solved"{% endif %}>
            <td class="first-col"><a href="">Testing one two</a></td>
            {% if "/enigmavalley/puzzle_2/solved" in unlocked %}<td> puzzle_2.answer</td>{% endif %}
        <tr {% if "/enigmavalley/puzzle_3/solved" in unlocked %}class="solved"{% endif %}>
            <td class="first-col"><a href="">Thoroughbred of Sin</a></td>
            {% if "/enigmavalley/puzzle_3/solved" in unlocked %}<td> puzzle_3.answer</td>{% endif %}
        </tr>
        <tr {% if "/enigmavalley/puzzle_4/solved" in unlocked %}class="solved"{% endif %}>
            <td class="first-col"><a href="">Remember the Ides</a></td>
            {% if "/enigmavalley/puzzle_4/solved" in unlocked %}<td> puzzle_4.answer</td>{% endif %}
        </tr>
        <tr {% if "/enigmavalley/puzzle_5/solved" in unlocked %}class="solved"{% endif %}>
            <td class="first-col"><a href="">Landmarks</a></td>
            {% if "/enigmavalley/puzzle_5/solved" in unlocked %}<td> puzzle_5.answer</td>{% endif %}
        </tr>
        <tr {% if "/enigmavalley/puzzle_6/solved" in unlocked %}class="solved"{% endif %}>
            <td class="first-col"><a href="">Life on Mars</a></td>
            {% if "/enigmavalley/puzzle_6/solved" in unlocked %}<td> puzzle_6.answer</td>{% endif %}
        </tr>
    </tbody>
    </table>
{% endblock %}
