{% extends "enigmavalley/_/enigma-base.html" %}

{% block content %}
    <table>
    <thead align="left">
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    <thead>
    <tbody>
        <tr id="meta" {% if "/enigmavalley/enigmavalley/solved" in unlocked %}class="solved"{% endif %}>
            <td class="first-col">BankSecuritySystem/
                <table>
                    <tr>
                        <td class="first-col"><a href="">Password Reminder</a></td>
                    </tr>
                    <tr>
                        <td class="first-col"><a href="">Security_video.mpg</a>
                    </tr>
                </table>
            </td>
            {% if "/enigmavalley/enigmavalley/solved" in unlocked %}<td></td>{% endif %}
        </tr>
        <tr {% if "/enigmavalley/changing_states/solved" in unlocked %}class="solved"{% endif %}>
            <td class="first-col"><a href="changing_states/">Changing States</a></td>
            {% if "/enigmavalley/changing_states/solved" in unlocked %}<td></td>{% endif %}
        </tr>
        <tr {% if "/enigmavalley/open_secrets/solved" in unlocked %}class="solved"{% endif %}>
            <td class="first-col"><a href="open_secrets/">Open Secrets</a></td>
            {% if "/enigmavalley/open_secrets/solved" in unlocked %}<td></td>{% endif %}
        </tr>
        <tr {% if "/enigmavalley/the_silver_screen/solved" in unlocked %}class="solved"{% endif %}>
            <td class="first-col"><a href="the_silver_screen/">The Silver Screen</a></td>
            {% if "/enigmavalley/the_silver_screen/solved" in unlocked %}<td></td>{% endif %}
        </tr>
        <tr {% if "/enigmavalley/the_thomas_crown_scare/solved" in unlocked %}class="solved"{% endif %}>
            <td class="first-col"><a href="the_thomas_crown_scare/">The Thomas Crown Scare</a></td>
            {% if "/enigmavalley/the_thomas_crown_scare/solved" in unlocked %}<td></td>{% endif %}
        </tr>
        <tr {% if "/enigmavalley/you_will_not_go_to_space_today/solved" in unlocked %}class="solved"{% endif %}>
            <td class="first-col"><a href="/enigmavalley/you_will_not_go_to_space_today/">You Will Not Go To Space Today</a></td>
            {% if "/enigmavalley/you_will_not_go_to_space_today/solved" in unlocked %}<td></td>{% endif %}
        </tr>
    </tbody>
    </table>
{% endblock %}
