
{% extends "enigmavalley/_/puzzle.html" %}
{% block body_class %}{{ super() }} puzzle{% endblock %}

{% block puzzle_title %}Changing States{% endblock %}

{% block extra_head %}
<title>Changing States</title><style>
    p { margin: .8ex; font-size: 12pt; }
</style>
{% endblock %}

{% block body %}
<p>ALMEFTEMAINGRMMASUPIAL</p>
<p>SUSUSUALALALABORORODENT</p>
<p>STECKYRECECEKEFREMJEPAN</p>
<p>WALKOKOWITHOHODIFFICULTYOYO</p>
<p>HEADGEARXOROFNANDMEDIEVALORKNIGHTSNOT</p>
<p>OETYLEETLWHETEMETTTETAWITETNUNIETDSTAETS</p>
<p>CHOLDEDCHORTILLACHITHCHILLING</p>
<p>MAOWHPSIOGSHEZYEYAAEYAAAEYAEYAA</p>
<p>GNIKCALHTGNERTSOTEHTEMASTNETXE</p>
<p>MUOPEOMUTOEEMUFOOTWEAS</p>
<p>GILBSULLIPIRA</p>
<p>RILOGYNANANACOREDNANANAYNANANAHILIPNANANALASSNANANA</p>
<p>UNIONEUROPEORAFRICABLOTASIA</p>
<p>WHERECTHERUBYSUNPYTHONRISESSCHEME</p>
<p>UNISOEGOLCPURITX</p>
<p>PARTPIOFOMICRONAALPHATRAINTAU</p>
<p>COUNTBYWIBHTBEMOBTPEOPBE</p>
<p>TNEDISERPFOTIM</p>
<p>OPPOSITEELOFLASLESSLA</p>
<p>ATHIOIPIAIUNDEDJBOIUTIANIGHIBOR</p>
<p>HIGENEVALLDOPARTICLEOYOUPHYSICSNGLONGALABBARDI</p>
<p>IONALFUNCTAMMERPROGRIBLYPOSSTHWIECHSPEIMENTIMPED</p>
<p>ISNGEIRBADUILRIOHCEIFEDEIN</p>
<p>FOLLOWDIORDSWRESTLGROBYCEANMELOGDBEATLNOTAMOTUAE</p>
<p>ICTITIONALUBTISTANCERETIEZINGEBTIELMUTIGGLER</p>
<p>ONISIANOTOILIOUCE</p>
<p>ENNYEJORNENDEIMEUSICALE</p>
<p>GOLFNOARTOECORRIBEAN</p>
<p>OSSIBLTHENIANIMATEEERKA</p>
<p>NATURBAPHOTOGRAPHEBAADAMBA</p>
<p>CHANBHETHREBLEOHRBHASS</p>
<p>DEAPNAROWPASIJOARRAVEENBITWEENKLIFS</p>
<p>SOLDIBLOKCFOBREDA</p>

{% endblock %}